n8n-workflows/01_weekly_content_generator.json
{
  "name": "01 - Weekly Content Generator",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        460
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Get All Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=*&is_active=eq.true&order=created_at.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Loop Each Business",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        380
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Fetch Performance History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ad_performance_logs?select=*&business_id=eq.{{$('Loop Each Business').first().json.id}}&order=logged_at.desc&limit=4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Fetch Competitor Insight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/competitor_insights?select=*&business_id=eq.{{$('Loop Each Business').first().json.id}}&order=recorded_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Fetch Daily Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/daily_stats?select=*&business_id=eq.{{$('Loop Each Business').first().json.id}}&order=recorded_at.desc&limit=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Build Smart Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        380
      ],
      "parameters": {
        "jsCode": "try {\n  const biz = $('Loop Each Business').first().json;\n  const perf = $('Fetch Performance History').all().map(i => i.json);\n  const comp = $('Fetch Competitor Insight').all().map(i => i.json);\n  const stats = $('Fetch Daily Stats').all().map(i => i.json);\n  \n  const avgRoas = perf.length ? (perf.reduce((s,p) => s + (p.roas||0), 0) / perf.length).toFixed(2) : 'N/A';\n  const avgCtr = perf.length ? (perf.reduce((s,p) => s + (p.ctr||0), 0) / perf.length).toFixed(3) : 'N/A';\n  const totalReach = stats.length ? stats.reduce((s,d) => s + (d.total_reach||0), 0) : 0;\n  const compInsight = comp.length ? comp[0].content_to_steal || '' : '';\n  const gapOpp = comp.length ? comp[0].gap_opportunity || '' : '';\n  // Intelligence Layer\n  const brandVoice = biz.brand_voice_locked || 'professional and friendly';\n  const dreamCustomer = biz.dream_customer || biz.target_audience || 'general audience';\n  const differentiator = biz.unique_differentiator || 'exceptional quality and service';\n  const bestThemes = JSON.stringify(biz.best_performing_themes || []);\n  const worstThemes = JSON.stringify(biz.worst_performing_themes || []);\n  const aiDecisions = biz.ai_brain_decisions ? JSON.stringify(biz.ai_brain_decisions).substring(0,400) : 'First run';\n\n  \n  const prompt = `You are an expert marketing strategist. Generate a full week of high-performance marketing content.\\n\\nBUSINESS PROFILE:\\n- Name: ${biz.business_name || 'Unknown'}\\n- Industry: ${biz.industry || 'General'}\\n- Location: ${biz.location || 'Unknown'}\\n- Target Audience: ${biz.target_audience || 'General public'}\\n- Brand Tone: ${biz.brand_tone || 'Professional and friendly'}\\n- Marketing Goal: ${biz.marketing_goal || 'Grow brand awareness'}\\n- Plan: ${biz.plan || 'free'}\\n\\nPERFORMANCE DATA (last 4 periods):\\n- Average ROAS: ${avgRoas}\\n- Average CTR: ${avgCtr}%\\n- Weekly Reach: ${totalReach} people\\n- Total Followers Gained: ${biz.followers_gained || 0}\\n- Posts Published: ${biz.posts_published || 0}\\n\\nCOMPETITOR INTELLIGENCE:\\n- What competitors do well: ${compInsight || 'N/A'}\\n- Gap opportunity for us: ${gapOpp || 'N/A'}\\n\\nINTELLIGENCE LAYER \u2014 use this to supercharge results:\\n- Brand Voice Locked: ${brandVoice}\\n- Dream Customer: ${dreamCustomer}\\n- Unique Differentiator: ${differentiator}\\n- Best Performing Themes (double down): ${bestThemes}\\n- Avoid These Themes (poor performance): ${worstThemes}\\n- Latest AI Strategy Decision: ${aiDecisions}\\n\\nCONTENT REQUIREMENTS:\\n- Create content that outperforms current ${avgCtr}% CTR\\n- Leverage the gap opportunity identified above\\n- Tailor content specifically for ${biz.industry} industry in ${biz.location}\\n- Match the brand tone: ${biz.brand_tone}\\n\\nReturn ONLY a valid JSON object with exactly these 10 keys (no markdown, no explanation, no code fences):\\n{\\n  \"instagram_caption\": \"engaging Instagram post with emojis and 5+ relevant hashtags\",\\n  \"instagram_caption_2\": \"second Instagram post variation with different angle\",\\n  \"facebook_post\": \"longer Facebook post (150-200 words) with storytelling and CTA\",\\n  \"instagram_story_text\": \"3 punchy lines max, designed for swipe-up engagement\",\\n  \"email_subject\": \"high open-rate email subject line (personalized, curiosity-driven)\",\\n  \"email_body\": \"full email body 3-4 paragraphs, conversational, ends with clear CTA\",\\n  \"blog_title\": \"SEO-optimized blog title targeting local keywords\",\\n  \"google_ad_headline\": \"Google ad headline max 30 chars, benefit-focused\",\\n  \"google_ad_description\": \"Google ad description max 90 chars with CTA\",\\n  \"content_theme\": \"2-4 word theme for this week\"\\n}`;\n\n  return [{ json: { prompt, biz } }];\n} catch(e) {\n  return [{ json: { error: e.message, prompt: 'Generate marketing content for a local business. Return only valid JSON with 10 keys: instagram_caption, instagram_caption_2, facebook_post, instagram_story_text, email_subject, email_body, blog_title, google_ad_headline, google_ad_description, content_theme', biz: {} } }];\n}"
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 2000,\n  system: $('Fetch Business Context').first().json.full_master_prompt,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}"
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Parse and Score Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        380
      ],
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json.content?.[0]?.text || '';\n  let c = {};\n  try { c = JSON.parse(raw); }\n  catch(e) { const m = raw.match(/\\{[\\s\\S]*\\}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n  \n  const biz = $('Build Smart Prompt').first().json.biz || {};\n  \n  // Quality scoring\n  let score = 0;\n  if ((c.instagram_caption||'').length > 100) score += 15;\n  if ((c.instagram_caption||'').includes('#')) score += 10;\n  if ((c.facebook_post||'').length > 200) score += 15;\n  if ((c.email_body||'').length > 300) score += 15;\n  if ((c.email_subject||'').length > 10) score += 10;\n  if ((c.google_ad_headline||'').length <= 30 && c.google_ad_headline) score += 10;\n  if ((c.google_ad_description||'').length <= 90 && c.google_ad_description) score += 10;\n  if (c.content_theme) score += 10;\n  if ((c.instagram_caption||'').toLowerCase().includes(biz.location?.toLowerCase()||'zzz')) score += 5;\n  \n  return [{ json: { ...c, quality_score: score, biz } }];\n} catch(e) {\n  return [{ json: { quality_score: 0, error: e.message, biz: {} } }];\n}"
      }
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-quality-001",
              "leftValue": "={{ $json.quality_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678901",
      "name": "Retry Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 2000,\n  system: $('Fetch Business Context').first().json.full_master_prompt,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($('Build Smart Prompt').first().json.prompt) }} }]\n}"
      }
    },
    {
      "id": "a3b4c5d6-e7f8-9012-abcd-123456789012",
      "name": "Parse Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        560
      ],
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json.content?.[0]?.text || '';\n  let c = {};\n  try { c = JSON.parse(raw); }\n  catch(e) { const m = raw.match(/\\{[\\s\\S]*\\}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n  const biz = $('Build Smart Prompt').first().json.biz || {};\n  return [{ json: { ...c, quality_score: 75, biz } }];\n} catch(e) {\n  return [{ json: { quality_score: 75, biz: {} } }];\n}"
      }
    },
    {
      "id": "b4c5d6e7-f8a9-0123-bcde-234567890123",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2220,
        380
      ],
      "parameters": {
        "mode": "chooseBranch",
        "chooseBranchMode": "waitForAll",
        "output": "input1"
      }
    },
    {
      "id": "c5d6e7f8-a9b0-1234-cdef-345678901234",
      "name": "Save Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/generated_content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"business_id\": {{ JSON.stringify($json.biz.id) }},\n  \"instagram_caption\": {{ JSON.stringify($json.instagram_caption || '') }},\n  \"instagram_caption_2\": {{ JSON.stringify($json.instagram_caption_2 || '') }},\n  \"facebook_post\": {{ JSON.stringify($json.facebook_post || '') }},\n  \"instagram_story_text\": {{ JSON.stringify($json.instagram_story_text || '') }},\n  \"email_subject\": {{ JSON.stringify($json.email_subject || '') }},\n  \"email_body\": {{ JSON.stringify($json.email_body || '') }},\n  \"blog_title\": {{ JSON.stringify($json.blog_title || '') }},\n  \"google_ad_headline\": {{ JSON.stringify($json.google_ad_headline || '') }},\n  \"google_ad_description\": {{ JSON.stringify($json.google_ad_description || '') }},\n  \"content_theme\": {{ JSON.stringify($json.content_theme || '') }},\n  \"status\": \"pending_approval\"\n}"
      }
    },
    {
      "id": "d6e7f8a9-b0c1-2345-defa-456789012345",
      "name": "Fetch Stats for Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=total_reach,weekly_reach,weekly_leads,avg_roas,posts_published&id=eq.{{$('Merge Results').first().json.biz.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "e7f8a9b0-c1d2-3456-efab-567890123456",
      "name": "Send Content Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        380
      ],
      "parameters": {
        "sendTo": "={{ $('Loop Each Business').first().json.email }}",
        "subject": "={{ \"Your week of content is ready, \" + ($('Loop Each Business').first().json.first_name || $('Loop Each Business').first().json.business_name) + \"!\" }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h1 style=\"color: #6366f1;\">Your Weekly Content is Ready!</h1><p>Hi {{ $('Loop Each Business').first().json.first_name || $('Loop Each Business').first().json.business_name }},</p><p>We have generated a full week of high-performance marketing content for <strong>{{ $('Loop Each Business').first().json.business_name }}</strong>. Here is a preview:</p><div style=\"background: #f8f9fa; border-radius: 8px; padding: 16px; margin: 16px 0;\"><h3 style=\"margin-top: 0; color: #374151;\">Instagram Caption</h3><p style=\"color: #6b7280;\">{{ $('Merge Results').first().json.instagram_caption || 'Content generated successfully' }}</p></div><div style=\"background: #f8f9fa; border-radius: 8px; padding: 16px; margin: 16px 0;\"><h3 style=\"margin-top: 0; color: #374151;\">Email Subject</h3><p style=\"color: #6b7280;\">{{ $('Merge Results').first().json.email_subject || 'Email ready' }}</p></div><div style=\"background: #f8f9fa; border-radius: 8px; padding: 16px; margin: 16px 0;\"><h3 style=\"margin-top: 0; color: #374151;\">Your Performance Stats</h3><ul style=\"color: #6b7280;\"><li>Total Reach: {{ $input.first().json[0]?.total_reach || 0 }} people</li><li>Weekly Reach: {{ $input.first().json[0]?.weekly_reach || 0 }} people</li><li>Weekly Leads: {{ $input.first().json[0]?.weekly_leads || 0 }}</li><li>Average ROAS: {{ $input.first().json[0]?.avg_roas || 'N/A' }}</li><li>Posts Published: {{ $input.first().json[0]?.posts_published || 0 }}</li></ul></div><div style=\"text-align: center; margin: 24px 0;\"><a href=\"https://maroa-ai-marketing-automator.lovable.app\" style=\"background: #6366f1; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: bold;\">Review and Approve Content</a></div><p style=\"color: #9ca3af; font-size: 12px;\">This content was generated by maroa.ai and is pending your approval before publishing.</p></body></html>",
        "options": {
          "fromName": "maroa.ai",
          "replyTo": "hello@maroa.ai"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-account-credential",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "67907f30-dc86-4a77-b53d-0e1478d0b725",
      "name": "Fetch Business Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://maroa-api-production.up.railway.app/api/context/\" + String($json.userId || $json.business_id || $json.user_id || $json.id || ($json.biz && $json.biz.id) || $('Loop Each Business').first().json.id || $('Loop Each Business').first().json.user_id || $('Split In Batches').first().json.id || $('Split In Batches').first().json.user_id || $vars.userId || \"\") }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get All Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Businesses": {
      "main": [
        [
          {
            "node": "Loop Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Business": {
      "main": [
        [
          {
            "node": "Fetch Business Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Performance History": {
      "main": [
        [
          {
            "node": "Build Smart Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitor Insight": {
      "main": [
        [
          {
            "node": "Build Smart Prompt",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Daily Stats": {
      "main": [
        [
          {
            "node": "Build Smart Prompt",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Build Smart Prompt": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Parse and Score Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Score Content": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Claude": {
      "main": [
        [
          {
            "node": "Parse Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Content": {
      "main": [
        [
          {
            "node": "Fetch Stats for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stats for Email": {
      "main": [
        [
          {
            "node": "Send Content Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Content Email": {
      "main": [
        [
          {
            "node": "Loop Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Context": {
      "main": [
        [
          {
            "node": "Fetch Performance History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Competitor Insight",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
