n8n-workflows/09_smart_image_system.json
{
  "name": "WF9 - Smart Image System",
  "nodes": [
    {
      "parameters": {},
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678902",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/generated_content?select=*&image_url=is.null&status=eq.pending_approval",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678903",
      "name": "Get Content Without Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678904",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pexels.com/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.PEXELS_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$node['Split In Batches'].json['content_theme'] || 'business marketing'}}"
            },
            {
              "name": "per_page",
              "value": "5"
            },
            {
              "name": "orientation",
              "value": "landscape"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678905",
      "name": "Search Pexels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n  const results = [];\n  for (const item of items) {\n    const photos = item.json.photos || [];\n    const hasPhoto = photos.length > 0;\n    const imageUrl = hasPhoto ? photos[0].src.large : null;\n    results.push({json: {\n      content_id: $node['Split In Batches'].json['id'],\n      content_theme: $node['Split In Batches'].json['content_theme'] || 'business',\n      has_photo: hasPhoto,\n      image_url: imageUrl,\n      pexels_photo_id: hasPhoto ? photos[0].id : null\n    }});\n  }\n  return results;\n} catch(e) {\n  return [{json:{error: e.message, has_photo: false, content_id: $node['Split In Batches'].json.id}}];\n}"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678906",
      "name": "Check Pexels Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-photo",
              "leftValue": "={{$json.has_photo}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678907",
      "name": "Has Good Photo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-image-url",
              "name": "image_url",
              "value": "={{$json.image_url}}",
              "type": "string"
            },
            {
              "id": "assign-content-id",
              "name": "content_id",
              "value": "={{$json.content_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678908",
      "name": "Set Image URL from Pexels",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Token ' + $env.REPLICATE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"input\":{\"prompt\":\"Professional marketing photo for {{$node['Split In Batches'].json['content_theme']}} business, high quality, commercial photography style\"}}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678909",
      "name": "Generate with Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n  const results = [];\n  for (const item of items) {\n    const prediction = item.json;\n    const outputUrl = Array.isArray(prediction.output) ? prediction.output[0] : (prediction.output || null);\n    results.push({json: {\n      content_id: $node['Split In Batches'].json['id'],\n      image_url: outputUrl || prediction.urls?.get || null,\n      replicate_id: prediction.id || null\n    }});\n  }\n  return results;\n} catch(e) {\n  return [{json:{error: e.message, content_id: $node['Split In Batches'].json.id, image_url: null}}];\n}"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678910",
      "name": "Wait for Replicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678911",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/generated_content?id=eq.' + $json.content_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"image_url\": \"{{$json.image_url}}\", \"updated_at\": \"{{new Date().toISOString()}}\"}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678912",
      "name": "Update Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        300
      ]
    },
    {
      "id": "schedule-trigger-a6330d0a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Content Without Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Content Without Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Without Images": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Search Pexels",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Search Pexels": {
      "main": [
        [
          {
            "node": "Check Pexels Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pexels Result": {
      "main": [
        [
          {
            "node": "Has Good Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Good Photo": {
      "main": [
        [
          {
            "node": "Set Image URL from Pexels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate with Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image URL from Pexels": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Replicate": {
      "main": [
        [
          {
            "node": "Wait for Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Replicate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Content Without Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "b2c3d4e5-f6a7-8901-bcde-f12345600009"
}
