n8n-workflows/11_retargeting_creator.json
{
  "name": "WF11 - Retargeting Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "d4e5f6a7-b8c9-0123-defa-234567890001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=*&facebook_page_id=not.is.null",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890003",
      "name": "Get Businesses with Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890004",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-5\",\"max_tokens\":1500,system:$('Fetch Business Context').first().json.full_master_prompt,\"messages\":[{\"role\":\"user\",\"content\":\"Business context \u2014 use this to personalise everything: Business name: {{ $json.business_name || $('Loop Each Business').first().json.business_name || '' }}. Industry: {{ $json.industry || $('Loop Each Business').first().json.industry || 'general' }}. Location: {{ $json.location || $('Loop Each Business').first().json.location || '' }}. Target audience: {{ $json.target_audience || $('Loop Each Business').first().json.target_audience || '' }}. Brand tone: {{ $json.brand_tone || $('Loop Each Business').first().json.brand_tone || 'professional and friendly' }}. Marketing goal: {{ $json.marketing_goal || $('Loop Each Business').first().json.marketing_goal || '' }}. Marketing strategy: {{ $json.marketing_strategy || $('Loop Each Business').first().json.marketing_strategy || '' }}. Current date context: make all content timely and relevant for the current month and season. Match the brand tone exactly. Write as if you personally know this business and its customers. Also consider what has worked before for this business based on their performance history. INTELLIGENCE LAYER \u2014 use this data to produce higher-performing output:\n- Brand Voice: {{ $('Loop Each Business').first().json.brand_voice_locked || 'professional and friendly' }}\n- Dream Customer: {{ $('Loop Each Business').first().json.dream_customer || $('Loop Each Business').first().json.target_audience || '' }}\n- Unique Differentiator: {{ $('Loop Each Business').first().json.unique_differentiator || 'exceptional quality and service' }}\n- Best Performing Themes (use more of these): {{ JSON.stringify($('Loop Each Business').first().json.best_performing_themes) || '[]' }}\n- Avoid These Themes (poor results): {{ JSON.stringify($('Loop Each Business').first().json.worst_performing_themes) || '[]' }}\n- Latest AI Strategy Decision: {{ $('Loop Each Business').first().json.ai_brain_decisions ? JSON.stringify($('Loop Each Business').first().json.ai_brain_decisions).substring(0,400) : 'First run \u2014 establish baseline' }}\n\n\\n\\nWrite 3 retargeting ad copy variations for {{$node['Split In Batches'].json['business_name']}} in {{$node['Split In Batches'].json['industry']}}. These are for people who visited their website. Return JSON with: headline_1, headline_2, headline_3, description_1, description_2, description_3, cta. Return only valid JSON, no markdown.\"}]}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890005",
      "name": "Generate Retargeting Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n  const results = [];\n  for (const item of items) {\n    const content = item.json.content && item.json.content[0] ? item.json.content[0].text : '';\n    let parsed;\n    try {\n      parsed = JSON.parse(content);\n    } catch(e) {\n      const match = content.match(/\\{[\\s\\S]*\\}/);\n      if (match) {\n        parsed = JSON.parse(match[0]);\n      } else {\n        parsed = {\n          headline_1: 'Come Back and Save',\n          headline_2: 'We Miss You',\n          headline_3: 'Special Offer Inside',\n          description_1: 'You left something behind.',\n          description_2: 'Exclusive offer just for you.',\n          description_3: 'Limited time deal waiting.',\n          cta: 'Shop Now'\n        };\n      }\n    }\n    results.push({json: {\n      business_id: $node['Split In Batches'].json.id,\n      business_name: $node['Split In Batches'].json.business_name,\n      email: $node['Split In Batches'].json.email || '',\n      headline_1: parsed.headline_1 || '',\n      headline_2: parsed.headline_2 || '',\n      headline_3: parsed.headline_3 || '',\n      description_1: parsed.description_1 || '',\n      description_2: parsed.description_2 || '',\n      description_3: parsed.description_3 || '',\n      cta: parsed.cta || 'Learn More',\n      created_at: new Date().toISOString()\n    }});\n  }\n  return results;\n} catch(e) {\n  return [{json:{error: e.message, business_id: $node['Split In Batches'].json.id}}];\n}"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890006",
      "name": "Parse Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ad_campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"business_id\": \"{{$json.business_id}}\", \"campaign_name\": \"Retargeting - {{$json.business_name}}\", \"type\": \"retargeting\", \"status\": \"draft\", \"ad_copy\": {{JSON.stringify($json)}}, \"created_at\": \"{{$json.created_at}}\"}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890007",
      "name": "Save Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$node['Parse Copy'].json.email}}",
        "subject": "=New Retargeting Campaign Ready: {{$node['Parse Copy'].json.business_name}}",
        "emailType": "html",
        "message": "=<h2>Retargeting Campaign Created</h2><p>A new retargeting campaign has been drafted for <strong>{{$node['Parse Copy'].json.business_name}}</strong>.</p><h3>Ad Copy Variations</h3><table border='1' cellpadding='8' style='border-collapse:collapse;'><tr><th>Variation</th><th>Headline</th><th>Description</th></tr><tr><td>1</td><td>{{$node['Parse Copy'].json.headline_1}}</td><td>{{$node['Parse Copy'].json.description_1}}</td></tr><tr><td>2</td><td>{{$node['Parse Copy'].json.headline_2}}</td><td>{{$node['Parse Copy'].json.description_2}}</td></tr><tr><td>3</td><td>{{$node['Parse Copy'].json.headline_3}}</td><td>{{$node['Parse Copy'].json.description_3}}</td></tr></table><p><strong>CTA:</strong> {{$node['Parse Copy'].json.cta}}</p><p>Campaign status: <strong>Draft</strong> - awaiting your approval.</p>\n<div style=\"margin:24px 0;padding:16px;background:#f0f4ff;border-radius:8px;border-left:4px solid #4F46E5;\">\n  <p style=\"margin:0;color:#4F46E5;font-weight:bold;font-size:15px;\">Your Maroa.ai AI is working 24/7 for your business.</p>\n  <p style=\"margin:8px 0 0;color:#374151;font-size:14px;\">Everything is automated \u2014 content, ads, emails, and tracking. You just need to approve and grow.</p>\n</div>\n<p style=\"text-align:center;margin:20px 0;\">\n  <a href=\"https://maroa-ai-marketing-automator.lovable.app\" style=\"background:#4F46E5;color:white;padding:12px 28px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block;font-size:15px;\">Open Your Dashboard \u2192</a>\n</p>\n",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890008",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "81976821-59ff-467c-9f7c-9f1c667ccf76",
      "name": "Fetch Business Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://maroa-api-production.up.railway.app/api/context/\" + String($json.userId || $json.business_id || $json.user_id || $json.id || ($json.biz && $json.biz.id) || $('Loop Each Business').first().json.id || $('Loop Each Business').first().json.user_id || $('Split In Batches').first().json.id || $('Split In Batches').first().json.user_id || $vars.userId || \"\") }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Businesses with Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Businesses with Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Businesses with Facebook": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Fetch Business Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Retargeting Copy": {
      "main": [
        [
          {
            "node": "Parse Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Copy": {
      "main": [
        [
          {
            "node": "Save Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Campaign": {
      "main": [
        [
          {
            "node": "Send Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification Email": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Context": {
      "main": [
        [
          {
            "node": "Generate Retargeting Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "d4e5f6a7-b8c9-0123-defa-234567000011"
}
