n8n-workflows/13_dayparting_optimizer.json
{
  "name": "WF13 - Dayparting Optimizer",
  "nodes": [
    {
      "parameters": {},
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 1,
              "triggerAtDayOfMonth": 28,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000003",
      "name": "Get All Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000004",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ad_performance_logs?select=*&business_id=eq.{{$node['Split In Batches'].json['id']}}&order=created_at.desc&limit=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000005",
      "name": "Get Performance Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-5\",\"max_tokens\":1500,system:$('Fetch Business Context').first().json.full_master_prompt,\"messages\":[{\"role\":\"user\",\"content\":\"Business context \u2014 use this to personalise everything: Business name: {{ $json.business_name || $('Loop Each Business').first().json.business_name || '' }}. Industry: {{ $json.industry || $('Loop Each Business').first().json.industry || 'general' }}. Location: {{ $json.location || $('Loop Each Business').first().json.location || '' }}. Target audience: {{ $json.target_audience || $('Loop Each Business').first().json.target_audience || '' }}. Brand tone: {{ $json.brand_tone || $('Loop Each Business').first().json.brand_tone || 'professional and friendly' }}. Marketing goal: {{ $json.marketing_goal || $('Loop Each Business').first().json.marketing_goal || '' }}. Marketing strategy: {{ $json.marketing_strategy || $('Loop Each Business').first().json.marketing_strategy || '' }}. Current date context: make all content timely and relevant for the current month and season. Match the brand tone exactly. Write as if you personally know this business and its customers. Also consider what has worked before for this business based on their performance history. INTELLIGENCE LAYER \u2014 use this data to produce higher-performing output:\n- Brand Voice: {{ $('Loop Each Business').first().json.brand_voice_locked || 'professional and friendly' }}\n- Dream Customer: {{ $('Loop Each Business').first().json.dream_customer || $('Loop Each Business').first().json.target_audience || '' }}\n- Unique Differentiator: {{ $('Loop Each Business').first().json.unique_differentiator || 'exceptional quality and service' }}\n- Best Performing Themes (use more of these): {{ JSON.stringify($('Loop Each Business').first().json.best_performing_themes) || '[]' }}\n- Avoid These Themes (poor results): {{ JSON.stringify($('Loop Each Business').first().json.worst_performing_themes) || '[]' }}\n- Latest AI Strategy Decision: {{ $('Loop Each Business').first().json.ai_brain_decisions ? JSON.stringify($('Loop Each Business').first().json.ai_brain_decisions).substring(0,400) : 'First run \u2014 establish baseline' }}\n\n\\n\\nAnalyze the following 30-day ad performance data for {{$node['Split In Batches'].json['business_name']}} and identify the best hours and days to run ads. Data: {{JSON.stringify($input.all().map(i => i.json))}}. Return JSON with: best_hours (array of hours 0-23), best_days (array of day names), worst_hours, worst_days, recommendation. Return only valid JSON, no markdown.\"}]}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000006",
      "name": "Analyze Best Times",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n  const results = [];\n  for (const item of items) {\n    const content = item.json.content && item.json.content[0] ? item.json.content[0].text : '';\n    let parsed;\n    try {\n      parsed = JSON.parse(content);\n    } catch(e) {\n      const match = content.match(/\\{[\\s\\S]*\\}/);\n      if (match) {\n        parsed = JSON.parse(match[0]);\n      } else {\n        parsed = {\n          best_hours: [9, 10, 11, 14, 15, 19, 20],\n          best_days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday'],\n          worst_hours: [0, 1, 2, 3, 4, 5],\n          worst_days: ['Saturday', 'Sunday'],\n          recommendation: 'Run ads during business hours on weekdays for optimal performance.'\n        };\n      }\n    }\n    results.push({json: {\n      business_id: $node['Split In Batches'].json.id,\n      business_name: $node['Split In Batches'].json.business_name,\n      email: $node['Split In Batches'].json.email || '',\n      best_hours: parsed.best_hours || [],\n      best_days: parsed.best_days || [],\n      worst_hours: parsed.worst_hours || [],\n      worst_days: parsed.worst_days || [],\n      recommendation: parsed.recommendation || '',\n      updated_at: new Date().toISOString()\n    }});\n  }\n  return results;\n} catch(e) {\n  return [{json:{error: e.message, business_id: $node['Split In Batches'].json.id}}];\n}"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000007",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?id=eq.{{$json.business_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"optimal_schedule\": {{JSON.stringify($json)}}, \"updated_at\": \"{{$json.updated_at}}\"}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000008",
      "name": "Update Business Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$node['Parse Analysis'].json.email}}",
        "subject": "=Monthly Ad Schedule Optimization for {{$node['Parse Analysis'].json.business_name}}",
        "emailType": "html",
        "message": "=<h2>Your Optimal Ad Schedule for {{$node['Parse Analysis'].json.business_name}}</h2><p>Based on your last 30 days of ad performance data, we have identified the best times to run your ads.</p><h3>Best Times to Run Ads</h3><p><strong>Best Hours:</strong> {{$node['Parse Analysis'].json.best_hours.join(', ')}}:00</p><p><strong>Best Days:</strong> {{$node['Parse Analysis'].json.best_days.join(', ')}}</p><h3>Times to Avoid</h3><p><strong>Worst Hours:</strong> {{$node['Parse Analysis'].json.worst_hours.join(', ')}}:00</p><p><strong>Worst Days:</strong> {{$node['Parse Analysis'].json.worst_days.join(', ')}}</p><h3>Our Recommendation</h3><p>{{$node['Parse Analysis'].json.recommendation}}</p><p>Your ad schedule has been automatically updated in our system based on these insights. Your campaigns will now run at optimal times to maximize your return on ad spend.</p><p>Best regards,<br/>Your Maroa.ai Team</p>\n<div style=\"margin:24px 0;padding:16px;background:#f0f4ff;border-radius:8px;border-left:4px solid #4F46E5;\">\n  <p style=\"margin:0;color:#4F46E5;font-weight:bold;font-size:15px;\">Your Maroa.ai AI is working 24/7 for your business.</p>\n  <p style=\"margin:8px 0 0;color:#374151;font-size:14px;\">Everything is automated \u2014 content, ads, emails, and tracking. You just need to approve and grow.</p>\n</div>\n<p style=\"text-align:center;margin:20px 0;\">\n  <a href=\"https://maroa-ai-marketing-automator.lovable.app\" style=\"background:#4F46E5;color:white;padding:12px 28px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block;font-size:15px;\">Open Your Dashboard \u2192</a>\n</p>\n",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000009",
      "name": "Send Recommendation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "0f331246-e703-4652-8cfe-76ecf4d3d947",
      "name": "Fetch Business Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://maroa-api-production.up.railway.app/api/context/\" + String($json.userId || $json.business_id || $json.user_id || $json.id || ($json.biz && $json.biz.id) || $('Loop Each Business').first().json.id || $('Loop Each Business').first().json.user_id || $('Split In Batches').first().json.id || $('Split In Batches').first().json.user_id || $vars.userId || \"\") }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get All Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Businesses": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Fetch Business Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Performance Logs": {
      "main": [
        [
          {
            "node": "Analyze Best Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Best Times": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Update Business Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Business Schedule": {
      "main": [
        [
          {
            "node": "Send Recommendation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recommendation Email": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Context": {
      "main": [
        [
          {
            "node": "Get Performance Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "f6a7b8c9-d0e1-2345-fabc-456789000013"
}
