n8n-workflows/30_central_ai_brain.json
{
  "name": "30 - Central AI Brain",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        460
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Get All Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=*&is_active=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Loop Each Business",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        380
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Fetch All Business Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "parameters": {
        "jsCode": "try {\n  const biz = $('Loop Each Business').first().json;\n  return [{ json: { \n    business_id: biz.id,\n    biz: biz\n  }}];\n} catch(e) {\n  return [{ json: { error: e.message } }];\n}"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Fetch Performance Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ad_performance_logs?select=*&business_id=eq.{{ $('Loop Each Business').first().json.id }}&order=logged_at.desc&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Fetch Competitor Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/competitor_insights?select=*&business_id=eq.{{ $('Loop Each Business').first().json.id }}&order=recorded_at.desc&limit=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Fetch Content Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/generated_content?select=id,content_theme,status,created_at&business_id=eq.{{ $('Loop Each Business').first().json.id }}&order=created_at.desc&limit=8",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Build Intelligence Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ],
      "parameters": {
        "jsCode": "try {\n  const biz = $('Loop Each Business').first().json;\n  const perf = $('Fetch Performance Data').all().map(i => i.json);\n  const comp = $('Fetch Competitor Data').all().map(i => i.json);\n  const content = $('Fetch Content Performance').all().map(i => i.json);\n  \n  const avgRoas = perf.length ? (perf.reduce((s,p) => s+(p.roas||0),0)/perf.length).toFixed(2) : 0;\n  const avgCtr = perf.length ? (perf.reduce((s,p) => s+(p.ctr||0),0)/perf.length).toFixed(3) : 0;\n  const totalSpend = perf.reduce((s,p) => s+(p.spend||0),0).toFixed(2);\n  const approvedContent = content.filter(c => c.status === 'approved').length;\n  \n  const prompt = `You are the central AI brain for a marketing automation system. Analyze all data and build a comprehensive 30-day marketing strategy.\n\nBUSINESS PROFILE:\n- Name: ${biz.business_name}\n- Industry: ${biz.industry}\n- Location: ${biz.location}\n- Target Audience: ${biz.target_audience}\n- Brand Tone: ${biz.brand_tone}\n- Marketing Goal: ${biz.marketing_goal}\n- Plan: ${biz.plan}\n- Current ROAS: ${biz.avg_roas || 0}\n- Total Reach: ${biz.total_reach || 0}\n\nPERFORMANCE METRICS (last 10 periods):\n- Average ROAS: ${avgRoas}\n- Average CTR: ${avgCtr}%\n- Total Ad Spend: $${totalSpend}\n- Content Approval Rate: ${approvedContent}/${content.length} pieces approved\n\nCOMPETITOR LANDSCAPE:\n${comp.map(c => `- Gap: ${c.gap_opportunity || 'N/A'} | Opportunity: ${c.content_to_steal || 'N/A'}`).join('\\n') || 'No competitor data yet'}\n\nAnalyze this data and return ONLY valid JSON:\n{\n  \"strategy_summary\": \"2-3 sentence executive summary of current performance\",\n  \"top_priority\": \"single most important thing to focus on this month\",\n  \"content_direction\": \"specific content themes and angles to pursue\",\n  \"ad_strategy\": \"ad targeting and budget allocation recommendation\",\n  \"growth_levers\": [\"lever1\", \"lever2\", \"lever3\"],\n  \"risks\": [\"risk1\", \"risk2\"],\n  \"monthly_goal\": \"specific measurable goal for this month\",\n  \"recommended_budget\": \"daily ad budget recommendation in USD\",\n  \"channels_to_focus\": [\"channel1\", \"channel2\"],\n  \"quick_wins\": [\"quick win 1\", \"quick win 2\", \"quick win 3\"]\n}`;\n\n  return [{ json: { prompt, biz } }];\n} catch(e) {\n  return [{ json: { error: e.message, prompt: 'Analyze business performance and return a marketing strategy JSON', biz: {} } }];\n}"
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Call Claude Opus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 2000, \"system\": $(\\'Fetch Business Context\\').first().json.full_master_prompt, \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($json.prompt) }}\n  }]\n}",
        "options": {}
      }
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Parse Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        380
      ],
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json.content?.[0]?.text || '';\n  let c = {};\n  try { c = JSON.parse(raw); }\n  catch(e) { const m = raw.match(/\\{[\\s\\S]*\\}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n  const biz = $('Build Intelligence Prompt').first().json.biz;\n  return [{ json: { strategy: JSON.stringify(c), biz, ...c } }];\n} catch(e) {\n  return [{ json: { error: e.message, strategy: '{}', biz: {} } }];\n}"
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678901",
      "name": "Save Strategy to Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        380
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?id=eq.{{ $json.biz.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"marketing_strategy\": {{ JSON.stringify($json.strategy) }}\n}",
        "options": {}
      }
    },
    {
      "id": "2d6238ce-f728-4c85-a043-8b5de73839fe",
      "name": "Fetch Business Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://maroa-api-production.up.railway.app/api/context/\" + String($json.userId || $json.business_id || $json.user_id || $json.id || ($json.biz && $json.biz.id) || $('Loop Each Business').first().json.id || $('Loop Each Business').first().json.user_id || $('Split In Batches').first().json.id || $('Split In Batches').first().json.user_id || $vars.userId || \"\") }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get All Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Active Businesses": {
      "main": [
        [
          {
            "node": "Loop Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Business": {
      "main": [
        [
          {
            "node": "Fetch Business Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch All Business Data": {
      "main": [
        [
          {
            "node": "Fetch Performance Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Competitor Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Content Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Performance Data": {
      "main": [
        [
          {
            "node": "Build Intelligence Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitor Data": {
      "main": [
        [
          {
            "node": "Build Intelligence Prompt",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Content Performance": {
      "main": [
        [
          {
            "node": "Build Intelligence Prompt",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Build Intelligence Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Opus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Opus": {
      "main": [
        [
          {
            "node": "Parse Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy": {
      "main": [
        [
          {
            "node": "Save Strategy to Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Strategy to Business": {
      "main": [
        [
          {
            "node": "Loop Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Context": {
      "main": [
        [
          {
            "node": "Fetch All Business Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
