n8n-workflows/31_landing_page_generator.json
{
  "name": "31 - Landing Page Generator",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "generate-landing-page",
        "httpMethod": "POST"
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Get Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=*&id=eq.{{ $json.body?.business_id || $json.business_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Generate Landing Page Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 3000,\n  system: $('Fetch Business Context').first().json.full_master_prompt,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a world-class conversion copywriter. Create a complete high-converting landing page for this business.\\n\\nBusiness: {{ $json[0].business_name }}\\nIndustry: {{ $json[0].industry }}\\nLocation: {{ $json[0].location }}\\nTarget Audience: {{ $json[0].target_audience }}\\nMarketing Goal: {{ $json[0].marketing_goal }}\\nBrand Tone: {{ $json[0].brand_tone }}\\nBrand Voice: {{ $json[0].brand_voice_locked || $json[0].brand_tone || \"professional\" }}\\nDream Customer: {{ $json[0].dream_customer || $json[0].target_audience || \"\" }}\\nUnique Differentiator: {{ $json[0].unique_differentiator || \"exceptional quality\" }}\\nBest Performing Themes: {{ JSON.stringify($json[0].best_performing_themes) || \"[]\" }}\\nAI Strategy Context: {{ $json[0].ai_brain_decisions ? JSON.stringify($json[0].ai_brain_decisions).substring(0,300) : \"First run\" }}\\n\\nReturn ONLY valid JSON:\\n{\\n  \\\"hero_headline\\\": \\\"powerful above-the-fold headline (max 10 words)\\\",\\n  \\\"hero_subheadline\\\": \\\"supporting subheadline (max 20 words)\\\",\\n  \\\"hero_cta\\\": \\\"primary CTA button text (max 5 words)\\\",\\n  \\\"value_prop_1\\\": {\\\"icon\\\": \\\"emoji\\\", \\\"title\\\": \\\"benefit title\\\", \\\"description\\\": \\\"one sentence\\\"},\\n  \\\"value_prop_2\\\": {\\\"icon\\\": \\\"emoji\\\", \\\"title\\\": \\\"benefit title\\\", \\\"description\\\": \\\"one sentence\\\"},\\n  \\\"value_prop_3\\\": {\\\"icon\\\": \\\"emoji\\\", \\\"title\\\": \\\"benefit title\\\", \\\"description\\\": \\\"one sentence\\\"},\\n  \\\"social_proof\\\": \\\"compelling social proof statement\\\",\\n  \\\"testimonial_1\\\": {\\\"quote\\\": \\\"customer quote\\\", \\\"name\\\": \\\"Customer Name\\\", \\\"title\\\": \\\"role or type\\\"},\\n  \\\"testimonial_2\\\": {\\\"quote\\\": \\\"customer quote\\\", \\\"name\\\": \\\"Customer Name\\\", \\\"title\\\": \\\"role or type\\\"},\\n  \\\"faq_1\\\": {\\\"question\\\": \\\"common question\\\", \\\"answer\\\": \\\"concise answer\\\"},\\n  \\\"faq_2\\\": {\\\"question\\\": \\\"common question\\\", \\\"answer\\\": \\\"concise answer\\\"},\\n  \\\"faq_3\\\": {\\\"question\\\": \\\"common question\\\", \\\"answer\\\": \\\"concise answer\\\"},\\n  \\\"closing_headline\\\": \\\"urgency-driven closing headline\\\",\\n  \\\"closing_cta\\\": \\\"final CTA button text\\\",\\n  \\\"meta_title\\\": \\\"SEO page title (max 60 chars)\\\",\\n  \\\"meta_description\\\": \\\"SEO meta description (max 160 chars)\\\"\\n}\"\n  }]\n}"
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Parse Landing Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json.content?.[0]?.text || '';\n  let c = {};\n  try { c = JSON.parse(raw); }\n  catch(e) { const m = raw.match(/\\{[\\s\\S]*\\}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n  const biz = $('Get Business').first().json;\n  return [{ json: { ...c, business_id: biz.id, business_name: biz.business_name, email: biz.email, first_name: biz.first_name } }];\n} catch(e) {\n  return [{ json: { error: e.message } }];\n}"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Save to Post Drafts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/post_drafts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={ \"business_id\": \"{{ $json.business_id }}\", \"post_text\": \"{{ JSON.stringify({hero_headline: $json.hero_headline, hero_subheadline: $json.hero_subheadline, hero_cta: $json.hero_cta, value_props: [$json.value_prop_1, $json.value_prop_2, $json.value_prop_3]}) }}\", \"platforms_selected\": \"[\\\"landing_page\\\"]\", \"status\": \"draft\" }"
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Send Landing Page Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ],
      "parameters": {
        "operation": "send",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ 'Your landing page copy is ready, ' + ($json.first_name || $json.business_name || 'there') + '!' }}",
        "emailType": "html",
        "message": "=<h2>Your Landing Page Copy is Ready!</h2><p>Hi {{ $json.first_name || $json.business_name }},</p><p><strong>Hero Headline:</strong> {{ $json.hero_headline }}</p><p><strong>Subheadline:</strong> {{ $json.hero_subheadline }}</p><p><strong>CTA:</strong> {{ $json.hero_cta }}</p><p>View the full copy in your <a href='https://maroa-ai-marketing-automator.lovable.app'>maroa.ai dashboard</a>.</p><p>Best,<br>The maroa.ai team</p>",
        "options": {
          "fromName": "maroa.ai",
          "replyTo": "hello@maroa.ai"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        380
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"business_id\": \"{{ $('Parse Landing Page').first().json.business_id }}\", \"headline\": \"{{ $('Parse Landing Page').first().json.hero_headline }}\" }"
      }
    },
    {
      "id": "2c3a718d-4bdc-433b-b3ae-1a3ee11e44aa",
      "name": "Fetch Business Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://maroa-api-production.up.railway.app/api/context/\" + String($json.userId || $json.business_id || $json.user_id || $json.id || ($json.biz && $json.biz.id) || $('Loop Each Business').first().json.id || $('Loop Each Business').first().json.user_id || $('Split In Batches').first().json.id || $('Split In Batches').first().json.user_id || $vars.userId || \"\") }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business": {
      "main": [
        [
          {
            "node": "Fetch Business Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Landing Page Copy": {
      "main": [
        [
          {
            "node": "Parse Landing Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Landing Page": {
      "main": [
        [
          {
            "node": "Save to Post Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Post Drafts": {
      "main": [
        [
          {
            "node": "Send Landing Page Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Landing Page Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Context": {
      "main": [
        [
          {
            "node": "Generate Landing Page Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
