n8n-workflows/34_tiktok_autopilot.json
{
  "name": "34 - TikTok Autopilot",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        460
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 1,3,5"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789003",
      "name": "Get TikTok Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/businesses?select=id,email,first_name,business_name,industry,location,target_audience,brand_tone,marketing_goal,tiktok_access_token,tiktok_user_id,tiktok_username,dream_customer,unique_differentiator,best_performing_themes&tiktok_connected=eq.true&is_active=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789004",
      "name": "Loop Each Business",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        380
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789005",
      "name": "Build TikTok Script Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const biz = $('Loop Each Business').first().json;\n\nconst bestThemes = biz.best_performing_themes ? JSON.stringify(biz.best_performing_themes) : 'not available yet';\n\nconst prompt = `Write a TikTok video script for a ${biz.industry} business.\n\nBusiness: ${biz.business_name}\nTone: ${biz.brand_tone || 'fun, energetic, and authentic'}\nTarget audience: ${biz.target_audience || 'young adults and entrepreneurs'}\nLocation: ${biz.location || ''}\nMarketing goal: ${biz.marketing_goal || 'grow brand awareness'}\nDream customer: ${biz.dream_customer || ''}\nUnique differentiator: ${biz.unique_differentiator || ''}\nBest performing themes: ${bestThemes}\n\nFormat your script exactly as:\n- Hook (0-3 sec): Bold statement or question that stops scrolling\n- Problem (3-8 sec): Relatable pain point your audience feels\n- Solution (8-20 sec): How ${biz.business_name} solves it\n- CTA (last 3 sec): One clear action (follow, comment, DM us)\n\nAlso write:\n- Caption: max 150 characters, punchy and curiosity-driven\n- 5 trending hashtags for ${biz.industry}\n\nReturn only valid JSON: {\"hook\":\"...\",\"script\":\"...\",\"caption\":\"...\",\"hashtags\":[\"#tag1\",\"#tag2\",\"#tag3\",\"#tag4\",\"#tag5\"],\"content_theme\":\"...\"}`;\n\nreturn [{ json: {\n  prompt,\n  business_id: biz.id,\n  business_name: biz.business_name,\n  tiktok_access_token: biz.tiktok_access_token,\n  email: biz.email,\n  first_name: biz.first_name\n} }];"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789006",
      "name": "Claude Sonnet \u2014 Write Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-5"
            },
            {
              "name": "max_tokens",
              "value": 600
            },
            {
              "name": "system",
              "value": "={{ $('Fetch Business Context').first().json.full_master_prompt }}"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{ $json.prompt }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789007",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '';\nlet c = {};\ntry { c = JSON.parse(raw); }\ncatch(e) { const m = raw.match(/{[\\s\\S]*}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n\nconst meta = $('Build TikTok Script Prompt').first().json;\n\nconst fullCaption = `${c.caption || ''} ${(c.hashtags || []).join(' ')}`.trim();\n\nreturn [{ json: {\n  hook: c.hook || '',\n  script: c.script || '',\n  caption: fullCaption,\n  hashtags: c.hashtags || [],\n  content_theme: c.content_theme || 'general',\n  business_id: meta.business_id,\n  business_name: meta.business_name,\n  email: meta.email,\n  first_name: meta.first_name,\n  tiktok_access_token: meta.tiktok_access_token\n} }];"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789008",
      "name": "Save Script to generated_content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/generated_content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "={{ $json.business_id }}"
            },
            {
              "name": "content_theme",
              "value": "={{ $json.content_theme }}"
            },
            {
              "name": "instagram_story_text",
              "value": "=HOOK: {{ $json.hook }}\n\n{{ $json.script }}\n\nCAPTION: {{ $json.caption }}"
            },
            {
              "name": "blog_title",
              "value": "=TikTok Script: {{ $json.content_theme }}"
            },
            {
              "name": "status",
              "value": "pending_approval"
            },
            {
              "name": "created_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789009",
      "name": "Email Script to Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "maroa.ai <onboarding@resend.dev>"
            },
            {
              "name": "to",
              "value": "={{ [$json.email] }}"
            },
            {
              "name": "reply_to",
              "value": "hello@maroa.ai"
            },
            {
              "name": "subject",
              "value": "=Your TikTok script for {{ $json.business_name }} is ready \ud83c\udfac"
            },
            {
              "name": "html",
              "value": "=<h2>Your TikTok Script is Ready! \ud83c\udfac</h2><p>Hi {{ $json.first_name }},</p><p>Your AI has written a TikTok script for <strong>{{ $json.business_name }}</strong>.</p><h3>\ud83c\udfa3 Hook (first 3 seconds)</h3><p><em>{{ $json.hook }}</em></p><h3>\ud83d\udcdd Full Script</h3><pre style='background:#f5f5f5;padding:12px;border-radius:6px;white-space:pre-wrap'>{{ $json.script }}</pre><h3>\ud83d\udcf1 Caption</h3><p>{{ $json.caption }}</p><p>Film this video and post it to TikTok using the caption above. Your AI will track which themes perform best and improve future scripts automatically.</p><p><a href='https://maroa-ai-marketing-automator.lovable.app/content' style='background:#667eea;color:white;padding:10px 20px;border-radius:6px;text-decoration:none'>View All Content</a></p>"
            }
          ]
        }
      }
    },
    {
      "id": "aed5b906-1740-4d81-bdf0-3f6500781dad",
      "name": "Fetch Business Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://maroa-api-production.up.railway.app/api/context/\" + String($json.userId || $json.business_id || $json.user_id || $json.id || ($json.biz && $json.biz.id) || $('Loop Each Business').first().json.id || $('Loop Each Business').first().json.user_id || $('Split In Batches').first().json.id || $('Split In Batches').first().json.user_id || $vars.userId || \"\") }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get TikTok Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get TikTok Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TikTok Businesses": {
      "main": [
        [
          {
            "node": "Loop Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Business": {
      "main": [
        [
          {
            "node": "Fetch Business Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build TikTok Script Prompt": {
      "main": [
        [
          {
            "node": "Claude Sonnet \u2014 Write Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet \u2014 Write Script": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Save Script to generated_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Script to generated_content": {
      "main": [
        [
          {
            "node": "Email Script to Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Script to Business": {
      "main": [
        [
          {
            "node": "Loop Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Business Context": {
      "main": [
        [
          {
            "node": "Build TikTok Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
