n8n-workflows/35_analytics_aggregator.json
{
  "name": "35 - Analytics Aggregator",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d02",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 460],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 23 * * *" }] }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d03",
      "name": "Get Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380],
      "parameters": {
        "method": "GET",
        "url": "https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/businesses?select=id,business_name,email&is_active=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",         "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization",  "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d04",
      "name": "Loop Each Business",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 380],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d05",
      "name": "POST Analytics Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 280],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/analytics-snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"business_id\": \"{{ $('Loop Each Business').first().json.id }}\" }"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d06",
      "name": "Check If Monday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 280],
      "parameters": {
        "jsCode": "const biz = $('Loop Each Business').first().json;\nconst isMonday = new Date().getDay() === 1;\nreturn [{ json: { isMonday, business_id: biz.id, business_name: biz.business_name } }];"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d07",
      "name": "Route Monday",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 280],
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.isMonday ? 1 : 0 }}"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d08",
      "name": "POST Analytics Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/analytics-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"business_id\": \"{{ $json.business_id }}\" }"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-bc1234567d09",
      "name": "Log Snapshot Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 460],
      "parameters": {
        "method": "POST",
        "url": "https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",         "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization",  "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type",   "value": "application/json" },
            { "name": "Prefer",         "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"workflow_name\": \"WF35-Analytics-Aggregator\", \"error_message\": \"{{ $json.message || 'Snapshot failed' }}\", \"created_at\": \"{{ new Date().toISOString() }}\" }"
      }
    }
  ],
  "connections": {
    "Manual Trigger":         { "main": [[{ "node": "Get Active Businesses",   "type": "main", "index": 0 }]] },
    "Schedule Trigger":       { "main": [[{ "node": "Get Active Businesses",   "type": "main", "index": 0 }]] },
    "Get Active Businesses":  { "main": [[{ "node": "Loop Each Business",      "type": "main", "index": 0 }]] },
    "Loop Each Business":     { "main": [[{ "node": "POST Analytics Snapshot", "type": "main", "index": 0 }], []] },
    "POST Analytics Snapshot":{ "main": [[{ "node": "Check If Monday",         "type": "main", "index": 0 }]] },
    "Check If Monday":        { "main": [[{ "node": "Route Monday",            "type": "main", "index": 0 }]] },
    "Route Monday":           { "main": [
      [{ "node": "Loop Each Business",    "type": "main", "index": 0 }],
      [{ "node": "POST Analytics Report", "type": "main", "index": 0 }]
    ]},
    "POST Analytics Report":  { "main": [[{ "node": "Loop Each Business",      "type": "main", "index": 0 }]] }
  }
}
