n8n-workflows/36_email_sequence_processor.json
{
  "name": "36 - Email Sequence Processor",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "e5f6a7b8-c9d0-1234-efab-cd1234567e01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-cd1234567e02",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 460],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "*/30 * * * *" }] }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-cd1234567e03",
      "name": "Process Email Sequences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/email-sequence-process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": false,
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-cd1234567e04",
      "name": "Check For Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 380],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "check-error",
            "leftValue": "={{ $json.error }}",
            "rightValue": "",
            "operator": { "type": "string", "operation": "notEmpty" }
          }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-cd1234567e05",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "parameters": {
        "method": "POST",
        "url": "https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"workflow_name\": \"WF36-Email-Processor\", \"error_message\": \"{{ $json.error || 'Email sequence process failed' }}\", \"created_at\": \"{{ new Date().toISOString() }}\" }"
      }
    }
  ],
  "connections": {
    "Manual Trigger":          { "main": [[{ "node": "Process Email Sequences", "type": "main", "index": 0 }]] },
    "Schedule Trigger":        { "main": [[{ "node": "Process Email Sequences", "type": "main", "index": 0 }]] },
    "Process Email Sequences": { "main": [[{ "node": "Check For Error",         "type": "main", "index": 0 }]] },
    "Check For Error":         { "main": [[{ "node": "Log Error",               "type": "main", "index": 0 }], []] }
  }
}
