n8n-workflows/37_no_open_reengagement.json
{
  "name": "37 - No-Open Re-engagement",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f02",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 460],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f03",
      "name": "Get No-Open Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380],
      "parameters": {
        "method": "GET",
        "url": "https://maroa-api-production.up.railway.app/webhook/no-open-candidates?days=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        }
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f04",
      "name": "Extract Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst candidates = data.candidates || [];\nif (!candidates.length) return [];\nreturn candidates.map(c => ({ json: c }));"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f05",
      "name": "Loop Each Candidate",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 380],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f06",
      "name": "Enroll In No-Open Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 280],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/email-enroll",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"business_id\": \"{{ $json.business_id }}\", \"contact_email\": \"{{ $json.contact_email }}\", \"contact_name\": \"{{ $json.contact_name }}\", \"trigger_type\": \"no_open_7d\" }"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-de1234567f07",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 460],
      "parameters": {
        "method": "POST",
        "url": "https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"workflow_name\": \"WF37-NoOpen-Reengagement\", \"error_message\": \"{{ $json.message || 'Enroll failed' }}\", \"created_at\": \"{{ new Date().toISOString() }}\" }"
      }
    }
  ],
  "connections": {
    "Manual Trigger":            { "main": [[{ "node": "Get No-Open Candidates",        "type": "main", "index": 0 }]] },
    "Schedule Trigger":          { "main": [[{ "node": "Get No-Open Candidates",        "type": "main", "index": 0 }]] },
    "Get No-Open Candidates":    { "main": [[{ "node": "Extract Candidates",            "type": "main", "index": 0 }]] },
    "Extract Candidates":        { "main": [[{ "node": "Loop Each Candidate",           "type": "main", "index": 0 }]] },
    "Loop Each Candidate":       { "main": [[{ "node": "Enroll In No-Open Sequence",   "type": "main", "index": 0 }], []] },
    "Enroll In No-Open Sequence":{ "main": [[{ "node": "Loop Each Candidate",           "type": "main", "index": 0 }]] }
  }
}
