n8n-workflows/WF03-max.json
{
  "name": "WF03 - New User Onboarding (MAX)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "c832e3d4-990c-4447-894f-ccc4b831800f",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "new-user-onboarding",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "07715fab-2863-4919-a8e5-ce788770ff1a"
    },
    {
      "id": "e95b02b0-8599-44fe-b7cc-30ffec98dfac",
      "name": "Extract Business ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { business_id: body.business_id, email: body.email } }];"
      }
    },
    {
      "id": "98c38833-48a6-4df9-b3dd-be2dfa97c67b",
      "name": "Signup Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/new-user-signup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "e40e2545-2773-4996-97e7-e692fb039784",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      }
    },
    {
      "id": "98beef93-ac57-4378-8f6f-f32e10b74cb1",
      "name": "Generate First Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/instant-content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, email: $json.email }) }}"
      }
    },
    {
      "id": "0e8f2f1c-810c-4194-bb57-94d05dea1f94",
      "name": "Build Competitive Moat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/build-competitive-moat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id }) }}"
      }
    },
    {
      "id": "eb3fc7eb-61af-4a29-bc98-688b19e688cf",
      "name": "Analyze Audience",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/analyze-audience",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id }) }}"
      }
    },
    {
      "id": "af5b0b8c-6b7e-49bf-b3c7-c096df31d254",
      "name": "SEO Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/seo-audit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id }) }}"
      }
    },
    {
      "id": "c16725db-2927-454a-91c0-7e0c4412eaae",
      "name": "Create Welcome Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/email-sequence-create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, name: \"Welcome Series\", trigger_type: \"signup\", emails: [{ subject_prompt: \"Welcome to AI marketing\", body_prompt: \"Warm welcome, explain what AI is doing for them\", delay_hours: 0 }, { subject_prompt: \"Your first AI content is ready\", body_prompt: \"Show them what was created\", delay_hours: 24 }, { subject_prompt: \"Your marketing strategy is set\", body_prompt: \"Explain the strategy AI built\", delay_hours: 72 }] }) }}"
      }
    },
    {
      "id": "9718f42b-c88f-43a0-b612-5967b26d1261",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/log-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: $workflow.name, error_message: $json.error || \"unknown\", business_id: null }) }}"
      }
    },
    {
      "id": "manual-trigger-2e338f8f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Business ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Business ID": {
      "main": [
        [
          {
            "node": "Signup Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signup Handler": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Generate First Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate First Content": {
      "main": [
        [
          {
            "node": "Build Competitive Moat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Competitive Moat": {
      "main": [
        [
          {
            "node": "Analyze Audience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Audience": {
      "main": [
        [
          {
            "node": "SEO Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Audit": {
      "main": [
        [
          {
            "node": "Create Welcome Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Business ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [],
  "pinData": {}
}
