n8n-workflows/WF09-max.json
{
  "name": "WF09 — Smart Image System (MAX + Higgsfield)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "wf09-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smart-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf09-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 520],
      "webhookId": "69db7e08-f4b6-48ae-b00a-568473a3012c"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst business_id = body.business_id || '';\nconst content_id = body.content_id || '';\nconst caption = body.caption || '';\nconst product_image_url = body.product_image_url || body.image_url || '';\nconst platform = body.platform || 'instagram';\nconst attempt = parseInt(body.attempt || '1', 10);\n\nif (!business_id) throw new Error('business_id is required');\n\nreturn [{ json: { business_id, content_id, caption, product_image_url, platform, attempt } }];"
      },
      "id": "wf09-extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/brand_intelligence?select=brand_dna&business_id=eq.{{ $json.business_id }}&status=eq.active&order=generated_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "wf09-fetch-brand-dna",
      "name": "Fetch Brand DNA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/businesses?select=business_name,industry,brand_tone,target_audience,location,primary_language&id=eq.{{ $json.business_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "wf09-fetch-business",
      "name": "Fetch Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Extract Data').first().json;\nconst brandRaw = $('Fetch Brand DNA').first().json;\nconst bizRaw = $('Fetch Business').first().json;\n\nconst brandArr = Array.isArray(brandRaw) ? brandRaw : [brandRaw];\nlet brandDna = {};\ntry {\n  const raw = brandArr[0]?.brand_dna;\n  brandDna = typeof raw === 'string' ? JSON.parse(raw) : (raw || {});\n} catch {}\n\nconst biz = Array.isArray(bizRaw) ? bizRaw[0] || {} : bizRaw || {};\nconst industry = biz.industry || brandDna?.brand_identity?.industry || 'business';\n\nreturn [{ json: {\n  ...input,\n  business_name: biz.business_name || '',\n  industry,\n  brand_tone: biz.brand_tone || brandDna?.brand_identity?.voice_tone || 'professional',\n  target_audience: biz.target_audience || brandDna?.audience?.primary_demographic || '',\n  location: biz.location || '',\n  primary_language: biz.primary_language || 'English',\n  visual_style: brandDna?.brand_identity?.visual_style || '',\n  color_direction: brandDna?.brand_identity?.color_direction || '',\n  personality_type: brandDna?.brand_identity?.personality_type || '',\n  content_pillars: brandDna?.content_strategy?.content_pillars || [],\n  hook_formulas: brandDna?.content_strategy?.hook_formulas || [],\n  trending_formats: brandDna?.trend_intelligence?.current_trending_formats || [],\n  brand_dna_summary: JSON.stringify(brandDna).slice(0, 1500)\n} }];"
      },
      "id": "wf09-merge-brand",
      "name": "Merge Brand Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://serpapi.com/search.json?engine=google&q={{ encodeURIComponent($json.industry + ' trending visual content 2026') }}&api_key={{ $env.SERPAPI_KEY }}&num=5",
        "options": { "timeout": 15000 }
      },
      "id": "wf09-fetch-trends",
      "name": "Fetch Trending Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1220, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Brand Context').first().json;\nconst trendsRaw = $input.first().json || {};\nconst trends = (trendsRaw.organic_results || []).slice(0, 5).map(r => r.snippet || r.title || '').filter(Boolean).join('\\n');\n\n// Detect product type from caption, industry, or image URL\nconst captionLower = (ctx.caption || '').toLowerCase();\nconst industryLower = (ctx.industry || '').toLowerCase();\nlet productType = 'general';\nif (industryLower.includes('food') || industryLower.includes('restaurant') || captionLower.includes('food')) productType = 'food';\nelse if (industryLower.includes('fashion') || industryLower.includes('clothing') || captionLower.includes('outfit')) productType = 'fashion';\nelse if (industryLower.includes('fitness') || industryLower.includes('gym') || captionLower.includes('workout')) productType = 'fitness';\nelse if (industryLower.includes('beauty') || industryLower.includes('cosmetic') || captionLower.includes('skincare')) productType = 'beauty';\nelse if (industryLower.includes('tech') || industryLower.includes('software') || captionLower.includes('app')) productType = 'tech';\nelse if (industryLower.includes('real estate') || captionLower.includes('property')) productType = 'real_estate';\nelse if (industryLower.includes('travel') || captionLower.includes('travel')) productType = 'travel';\nelse if (industryLower.includes('auto') || captionLower.includes('car')) productType = 'automotive';\n\nreturn [{ json: { ...ctx, trend_context: trends, product_type: productType } }];"
      },
      "id": "wf09-detect-product",
      "name": "Detect Product Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 380]
    },
    {
      "parameters": {
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a world-class creative director generating AI image prompts.\\n\\nBUSINESS:\\n- Name: {{ $json.business_name }}\\n- Industry: {{ $json.industry }}\\n- Tone: {{ $json.brand_tone }}\\n- Audience: {{ $json.target_audience }}\\n- Visual style: {{ $json.visual_style }}\\n- Color direction: {{ $json.color_direction }}\\n- Product type: {{ $json.product_type }}\\n\\nCAPTION CONTEXT: {{ $json.caption }}\\nPRODUCT IMAGE: {{ $json.product_image_url || 'none' }}\\nPLATFORM: {{ $json.platform }}\\n\\nTRENDING VISUAL CONTENT:\\n{{ $json.trend_context }}\\n\\nPRODUCT-TYPE SPECIFIC RULES:\\n{{ $json.product_type === 'food' ? 'Michelin-star food photography. Dramatic lighting, steam/texture visible, dark moody backgrounds, garnish details, top-down or 45-degree angle.' : $json.product_type === 'fashion' ? 'Editorial fashion photography. Clean backgrounds, model poses, fabric texture detail, aspirational lifestyle, magazine quality.' : $json.product_type === 'fitness' ? 'Nike campaign aesthetic. Dynamic movement, sweat droplets, dramatic lighting, powerful poses, motivational energy.' : $json.product_type === 'beauty' ? 'Glossier/Fenty editorial. Dewy skin, natural lighting, minimalist composition, product texture closeups, pastel or bold accents.' : $json.product_type === 'tech' ? 'Apple product photography. Ultra clean, floating products, gradient backgrounds, reflections, minimalist luxury.' : $json.product_type === 'real_estate' ? 'Architectural Digest quality. Wide angle interiors, golden hour exteriors, staged rooms, luxury feel.' : $json.product_type === 'travel' ? 'National Geographic quality. Dramatic landscapes, golden hour, cultural authenticity, wanderlust emotion.' : $json.product_type === 'automotive' ? 'Car magazine editorial. Low angle, reflective surfaces, speed blur, showroom lighting, luxury detail.' : 'Professional commercial photography. Clean composition, brand-appropriate lighting, authentic feel.' }}\\n\\nGenerate exactly 3 prompt variations:\\n\\nPrompt 1 — Studio Professional:\\nProfessional studio photography, [specific product/scene], pristine background, dramatic side lighting, ultra sharp focus, 8K, [brand visual style]\\n\\nPrompt 2 — Lifestyle Contextual:\\nLifestyle photography, [product/service in real use], [target audience environment], natural golden hour lighting, authentic, [brand emotion], editorial quality\\n\\nPrompt 3 — Trend-Optimized:\\n[Current trending visual style], [product/brand], scroll-stopping composition, {{ $json.platform }} optimized, viral potential, [brand personality]\\n\\nReturn only valid JSON:\\n{\\n  \\\"prompts\\\": [\\n    { \\\"type\\\": \\\"studio\\\", \\\"prompt\\\": \\\"full prompt\\\", \\\"negative_prompt\\\": \\\"what to avoid\\\" },\\n    { \\\"type\\\": \\\"lifestyle\\\", \\\"prompt\\\": \\\"full prompt\\\", \\\"negative_prompt\\\": \\\"what to avoid\\\" },\\n    { \\\"type\\\": \\\"trend\\\", \\\"prompt\\\": \\\"full prompt\\\", \\\"negative_prompt\\\": \\\"what to avoid\\\" }\\n  ],\\n  \\\"recommended\\\": 0\\n}\"\n  }]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "wf09-claude-prompts",
      "name": "Claude Prompt Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1740, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '';\nlet c = {};\ntry { c = JSON.parse(raw); }\ncatch(e) { const m = raw.match(/{[\\s\\S]*}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n\nconst ctx = $('Detect Product Type').first().json;\nconst prompts = c.prompts || [];\nconst recommended = c.recommended || 0;\n\nif (prompts.length === 0) {\n  // Fallback prompt\n  prompts.push({\n    type: 'studio',\n    prompt: `Professional ${ctx.product_type} photography for ${ctx.business_name}, ${ctx.brand_tone} style, ${ctx.visual_style || 'clean modern aesthetic'}, 8K, ultra sharp`,\n    negative_prompt: 'blurry, low quality, watermark, text overlay'\n  });\n}\n\nreturn [{ json: {\n  ...ctx,\n  prompts,\n  recommended_prompt_index: recommended,\n  total_prompts: prompts.length\n} }];"
      },
      "id": "wf09-parse-prompts",
      "name": "Parse Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 380]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst prompts = ctx.prompts || [];\nreturn prompts.map((p, i) => ({ json: {\n  ...ctx,\n  current_prompt: p.prompt,\n  current_negative: p.negative_prompt || '',\n  current_type: p.type,\n  prompt_index: i\n} }));"
      },
      "id": "wf09-split-prompts",
      "name": "Split Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2260, 380]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf09-loop-prompts",
      "name": "Loop Each Prompt",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2500, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Loop Each Prompt').first().json.business_id }}\",\n  \"action\": \"generate_image\",\n  \"prompt\": \"{{ $('Loop Each Prompt').first().json.current_prompt }}\",\n  \"negative_prompt\": \"{{ $('Loop Each Prompt').first().json.current_negative }}\",\n  \"product_image_url\": \"{{ $('Loop Each Prompt').first().json.product_image_url }}\",\n  \"brand_dna\": {{ JSON.stringify({ visual_style: $('Loop Each Prompt').first().json.visual_style, color_direction: $('Loop Each Prompt').first().json.color_direction, product_type: $('Loop Each Prompt').first().json.product_type }) }}\n}",
        "options": { "timeout": 120000 }
      },
      "id": "wf09-generate-image",
      "name": "Generate Image (Higgsfield)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2760, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const genResult = $input.first().json;\nconst ctx = $('Loop Each Prompt').first().json;\n\nconst imageUrl = genResult.image_url || genResult.file_url || genResult.url || '';\nconst success = !!genResult.success || !!imageUrl;\n\nif (!success) {\n  console.error(`[WF09] Image generation failed for prompt type ${ctx.current_type}`);\n}\n\nreturn [{ json: {\n  business_id: ctx.business_id,\n  content_id: ctx.content_id,\n  caption: ctx.caption,\n  platform: ctx.platform,\n  attempt: ctx.attempt,\n  prompt_type: ctx.current_type,\n  prompt_index: ctx.prompt_index,\n  generated_url: imageUrl,\n  generation_success: success,\n  model_used: genResult.model_used || 'unknown',\n  business_name: ctx.business_name,\n  product_type: ctx.product_type\n} }];"
      },
      "id": "wf09-collect-result",
      "name": "Collect Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3020, 380]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.generation_success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf09-if-gen-success",
      "name": "IF Generation Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3260, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ideal.app.n8n.cloud/webhook/score-content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $json.content_id }}\",\n  \"file_url\": \"{{ $json.generated_url }}\",\n  \"caption\": \"{{ $json.caption }}\",\n  \"business_id\": \"{{ $json.business_id }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"attempt_number\": {{ $json.attempt }}\n}",
        "options": { "timeout": 60000 }
      },
      "id": "wf09-score-content",
      "name": "Score Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3520, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const scoreResult = $input.first().json;\nconst ctx = $('IF Generation Success').first().json;\n\nconst score = scoreResult.total_score || scoreResult.score || 0;\nconst breakdown = scoreResult.breakdown || {};\nconst verdict = scoreResult.verdict || (score >= 7 ? 'approved' : score >= 5 ? 'regenerate' : 'flag');\n\nreturn [{ json: {\n  ...ctx,\n  content_score: score,\n  score_breakdown: breakdown,\n  verdict,\n  improvement_notes: scoreResult.improvement_notes || [],\n  improved_prompt: scoreResult.improved_prompt || null\n} }];"
      },
      "id": "wf09-parse-score",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3780, 260]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.verdict }}",
              "operation": "equals",
              "value2": "approved"
            }
          ]
        }
      },
      "id": "wf09-if-approved",
      "name": "IF Score Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4040, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/generated_content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_id\": \"{{ $json.business_id }}\",\n  \"image_url\": \"{{ $json.generated_url }}\",\n  \"instagram_caption\": \"{{ $json.caption }}\",\n  \"content_theme\": \"{{ $json.prompt_type }}\",\n  \"status\": \"approved\",\n  \"image_source\": \"higgsfield_{{ $json.model_used }}\",\n  \"approved_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "timeout": 15000 }
      },
      "id": "wf09-save-approved",
      "name": "Save to Content Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4320, 140],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/whatsapp-send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_id\": \"{{ $json.business_id }}\",\n  \"message\": \"New image approved for {{ $json.business_name }}!\\nType: {{ $json.prompt_type }}\\nScore: {{ $json.content_score }}/10\\nPlatform: {{ $json.platform }}\\nPreview: {{ $json.generated_url }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "wf09-notify-approved",
      "name": "WhatsApp Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4600, 140],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nreturn [{ json: {\n  approved: true,\n  content_id: ctx.content_id,\n  image_url: ctx.generated_url,\n  score: ctx.content_score,\n  prompt_type: ctx.prompt_type,\n  model_used: ctx.model_used\n} }];"
      },
      "id": "wf09-respond-approved",
      "name": "Build Approved Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4860, 140]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.content_score }}",
              "operation": "largerEqual",
              "value2": 5
            }
          ]
        }
      },
      "id": "wf09-if-regenerate",
      "name": "IF Score 5-6 Regenerate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4320, 380]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.attempt }}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "id": "wf09-if-can-retry",
      "name": "IF Can Retry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4600, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ideal.app.n8n.cloud/webhook/smart-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_id\": \"{{ $json.business_id }}\",\n  \"content_id\": \"{{ $json.content_id }}\",\n  \"caption\": \"{{ $json.improved_prompt || $json.caption }}\",\n  \"product_image_url\": \"{{ $json.product_image_url || '' }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"attempt\": {{ $json.attempt + 1 }}\n}",
        "options": { "timeout": 15000 }
      },
      "id": "wf09-retry",
      "name": "Retry with Improvements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4860, 320],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nreturn [{ json: {\n  approved: false,\n  flagged: true,\n  content_id: ctx.content_id,\n  score: ctx.content_score,\n  reason: ctx.improvement_notes,\n  attempt: ctx.attempt\n} }];"
      },
      "id": "wf09-flag-content",
      "name": "Flag Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4860, 500]
    },
    {
      "parameters": {
        "jsCode": "// Generation failed — log and continue to next prompt\nconst ctx = $input.first().json;\nconsole.error(`[WF09] Generation failed for business ${ctx.business_id}`);\nreturn [{ json: { ...ctx, status: 'generation_failed' } }];"
      },
      "id": "wf09-gen-failed",
      "name": "Generation Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 520]
    },
    {
      "parameters": {
        "jsCode": "// Loop back to try next prompt\nreturn [$input.first()];"
      },
      "id": "wf09-loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3780, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "wf09-respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [5140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/log-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'WF09-smart-image-max', error_message: $json.error || $json.reason || 'unknown', business_id: $json.business_id || null }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "wf09-log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [5140, 520],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Data": {
      "main": [
        [
          { "node": "Fetch Brand DNA", "type": "main", "index": 0 },
          { "node": "Fetch Business", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Brand DNA": {
      "main": [
        [{ "node": "Merge Brand Context", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Business": {
      "main": [
        [{ "node": "Merge Brand Context", "type": "main", "index": 0 }]
      ]
    },
    "Merge Brand Context": {
      "main": [
        [{ "node": "Fetch Trending Content", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Trending Content": {
      "main": [
        [{ "node": "Detect Product Type", "type": "main", "index": 0 }]
      ]
    },
    "Detect Product Type": {
      "main": [
        [{ "node": "Claude Prompt Generator", "type": "main", "index": 0 }]
      ]
    },
    "Claude Prompt Generator": {
      "main": [
        [{ "node": "Parse Prompts", "type": "main", "index": 0 }]
      ]
    },
    "Parse Prompts": {
      "main": [
        [{ "node": "Split Prompts", "type": "main", "index": 0 }]
      ]
    },
    "Split Prompts": {
      "main": [
        [{ "node": "Loop Each Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Loop Each Prompt": {
      "main": [
        [{ "node": "Generate Image (Higgsfield)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Generate Image (Higgsfield)": {
      "main": [
        [{ "node": "Collect Result", "type": "main", "index": 0 }]
      ]
    },
    "Collect Result": {
      "main": [
        [{ "node": "IF Generation Success", "type": "main", "index": 0 }]
      ]
    },
    "IF Generation Success": {
      "main": [
        [{ "node": "Score Content", "type": "main", "index": 0 }],
        [{ "node": "Generation Failed", "type": "main", "index": 0 }]
      ]
    },
    "Score Content": {
      "main": [
        [{ "node": "Parse Score", "type": "main", "index": 0 }]
      ]
    },
    "Parse Score": {
      "main": [
        [{ "node": "IF Score Approved", "type": "main", "index": 0 }]
      ]
    },
    "IF Score Approved": {
      "main": [
        [{ "node": "Save to Content Library", "type": "main", "index": 0 }],
        [{ "node": "IF Score 5-6 Regenerate", "type": "main", "index": 0 }]
      ]
    },
    "Save to Content Library": {
      "main": [
        [{ "node": "WhatsApp Approved", "type": "main", "index": 0 }]
      ]
    },
    "WhatsApp Approved": {
      "main": [
        [{ "node": "Build Approved Response", "type": "main", "index": 0 }]
      ]
    },
    "Build Approved Response": {
      "main": [
        [{ "node": "Respond Webhook", "type": "main", "index": 0 }]
      ]
    },
    "IF Score 5-6 Regenerate": {
      "main": [
        [{ "node": "IF Can Retry", "type": "main", "index": 0 }],
        [{ "node": "Flag Content", "type": "main", "index": 0 }]
      ]
    },
    "IF Can Retry": {
      "main": [
        [{ "node": "Retry with Improvements", "type": "main", "index": 0 }],
        [{ "node": "Flag Content", "type": "main", "index": 0 }]
      ]
    },
    "Flag Content": {
      "main": [
        [
          { "node": "Log Error", "type": "main", "index": 0 },
          { "node": "Respond Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generation Failed": {
      "main": [
        [{ "node": "Loop Back", "type": "main", "index": 0 }]
      ]
    },
    "Loop Back": {
      "main": [
        [{ "node": "Loop Each Prompt", "type": "main", "index": 0 }]
      ]
    }
  },
  "tags": [
    { "name": "image-generation" },
    { "name": "brand-intelligence" },
    { "name": "content-scoring" }
  ],
  "pinData": {}
}
