n8n-workflows/WF50-daily-orchestrator.json
{
  "name": "WF50 - Daily Autonomous Orchestrator (6am)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "wf50-0001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "wf50-0002",
      "name": "Schedule — Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 500],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }] }
      }
    },
    {
      "id": "wf50-0003",
      "name": "Run Orchestrator for All Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/api/orchestrator/run-all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-orchestrator-secret", "value": "={{ $env.ORCHESTRATOR_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      }
    },
    {
      "id": "wf50-0004",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 560],
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/log-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_name: 'WF50-Daily-Orchestrator', error_message: $json.error || 'Orchestrator failed', business_id: null }) }}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Run Orchestrator for All Users", "type": "main", "index": 0 }]] },
    "Schedule — Daily 6am": { "main": [[{ "node": "Run Orchestrator for All Users", "type": "main", "index": 0 }]] }
  },
  "tags": [],
  "pinData": {}
}
