n8n-workflows/WF51-product-photo-pipeline.json
{
  "name": "WF51 — Product Photo Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "wf51-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-upload",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "wf51-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 520],
      "webhookId": "product-upload"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst business_id = body.business_id || '';\nconst user_id = body.user_id || '';\nconst plan = (body.plan || '').toLowerCase();\nconst product_images = body.product_images || [];\nconst brand_dna = body.brand_dna || null;\n\nconst errors = [];\nif (!business_id) errors.push('business_id is required');\nif (!user_id) errors.push('user_id is required');\nif (!['starter', 'growth', 'agency'].includes(plan)) errors.push('plan must be starter, growth, or agency');\nif (!Array.isArray(product_images) || product_images.length === 0) errors.push('product_images must be a non-empty array of URLs');\n\nif (errors.length > 0) {\n  throw new Error(JSON.stringify({ status: 400, errors }));\n}\n\nreturn [{ json: { business_id, user_id, plan, product_images, brand_dna, image_count: product_images.length } }];"
      },
      "id": "wf51-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://maroa-api-production.up.railway.app/api/business/{{ $json.business_id }}/brand-dna",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf51-fetch-brand-dna",
      "name": "Fetch Brand DNA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://serpapi.com/search.json?engine=google&q={{ encodeURIComponent(($('Fetch Brand DNA').first().json.industry || 'small business') + ' best marketing content 2026') }}&api_key={{ $env.SERPAPI_KEY }}&num=10",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf51-serp-marketing",
      "name": "Fetch Marketing Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://serpapi.com/search.json?engine=google&q={{ encodeURIComponent(($('Fetch Brand DNA').first().json.industry || 'small business') + ' trending Instagram posts') }}&api_key={{ $env.SERPAPI_KEY }}&num=10",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf51-serp-instagram",
      "name": "Fetch Instagram Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 660],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Validate Input').first().json;\nconst brandDna = $('Fetch Brand DNA').first().json || {};\nconst marketingTrends = $('Fetch Marketing Trends').first().json || {};\nconst igTrends = $('Fetch Instagram Trends').first().json || {};\n\nconst trendSnippets = [\n  ...(marketingTrends.organic_results || []).slice(0, 5).map(r => r.snippet || r.title || ''),\n  ...(igTrends.organic_results || []).slice(0, 5).map(r => r.snippet || r.title || '')\n].filter(Boolean).join('\\n');\n\nconst brand = [\n  brandDna.brand_tone ? `Brand tone: ${brandDna.brand_tone}` : '',\n  brandDna.target_audience ? `Target audience: ${brandDna.target_audience}` : '',\n  brandDna.industry ? `Industry: ${brandDna.industry}` : '',\n  brandDna.usp ? `USP: ${brandDna.usp}` : '',\n  brandDna.brand_values ? `Values: ${brandDna.brand_values}` : '',\n  brandDna.business_name ? `Business: ${brandDna.business_name}` : ''\n].filter(Boolean).join('\\n');\n\nreturn [{ json: {\n  ...input,\n  brand_context: brand,\n  trend_context: trendSnippets,\n  industry: brandDna.industry || 'business',\n  business_name: brandDna.business_name || '',\n  brand_tone: brandDna.brand_tone || 'professional',\n  target_audience: brandDna.target_audience || 'small business owners',\n  timezone: brandDna.timezone || 'UTC'\n} }];"
      },
      "id": "wf51-merge-context",
      "name": "Merge All Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are an expert marketing strategist and brand analyst.\\n\\nBRAND DNA:\\n{{ $json.brand_context }}\\n\\nCOMPETITOR & TREND INTEL:\\n{{ $json.trend_context }}\\n\\nPRODUCT IMAGES TO ANALYZE:\\n{{ $json.product_images.join('\\\\n') }}\\n\\nPLAN: {{ $json.plan }}\\n\\nAnalyze the brand DNA, competitor trends, and product images. Create a strategic content plan.\\n\\nFor recommended_mix, use these plan limits:\\n- starter: images only (3 per product), no video\\n- growth: images (5 per product) + kling videos (2 per product)\\n- agency: images (5 per product) + kling videos (3 per product) + sora hero ads (1 per product)\\n\\nReturn only valid JSON:\\n{\\n  \\\"brand_personality\\\": \\\"one-line brand personality summary\\\",\\n  \\\"visual_style\\\": \\\"recommended visual aesthetic\\\",\\n  \\\"target_emotion\\\": \\\"primary emotion to evoke\\\",\\n  \\\"content_pillars\\\": [\\\"pillar1\\\", \\\"pillar2\\\", \\\"pillar3\\\"],\\n  \\\"trending_formats\\\": [\\\"format1\\\", \\\"format2\\\"],\\n  \\\"recommended_mix\\\": {\\n    \\\"images\\\": number,\\n    \\\"kling_videos\\\": number,\\n    \\\"sora_ads\\\": number\\n  }\\n}\"\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf51-brand-analyzer",
      "name": "Claude Brand Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-account",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '';\nlet c = {};\ntry { c = JSON.parse(raw); }\ncatch(e) { const m = raw.match(/{[\\s\\S]*}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n\nconst ctx = $('Merge All Context').first().json;\n\nreturn [{ json: {\n  ...ctx,\n  strategy: c,\n  brand_personality: c.brand_personality || '',\n  visual_style: c.visual_style || '',\n  target_emotion: c.target_emotion || '',\n  content_pillars: c.content_pillars || [],\n  trending_formats: c.trending_formats || [],\n  recommended_mix: c.recommended_mix || { images: 3, kling_videos: 0, sora_ads: 0 }\n} }];"
      },
      "id": "wf51-parse-strategy",
      "name": "Parse Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst images = ctx.product_images || [];\nconst items = images.map((url, idx) => ({\n  json: {\n    ...ctx,\n    current_image_url: url,\n    image_index: idx,\n    total_images: images.length\n  }\n}));\nreturn items;"
      },
      "id": "wf51-split-images",
      "name": "Split By Product Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf51-loop",
      "name": "Loop Each Image",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a world-class creative director generating image prompts for AI image generation.\\n\\nProduct image URL: {{ $('Loop Each Image').first().json.current_image_url }}\\nBrand personality: {{ $('Loop Each Image').first().json.brand_personality }}\\nVisual style: {{ $('Loop Each Image').first().json.visual_style }}\\nTarget emotion: {{ $('Loop Each Image').first().json.target_emotion }}\\nIndustry: {{ $('Loop Each Image').first().json.industry }}\\nTarget audience: {{ $('Loop Each Image').first().json.target_audience }}\\nTrending formats: {{ ($('Loop Each Image').first().json.trending_formats || []).join(', ') }}\\n\\nGenerate exactly 3 prompt variations for this product:\\n\\nPrompt 1 — Studio Professional:\\nProfessional studio product photography, [describe product from image], pristine white background, dramatic side lighting, ultra sharp focus, 8K resolution, [brand visual style]\\n\\nPrompt 2 — Lifestyle Contextual:\\nLifestyle product photography, [product] in use by [target audience], natural golden hour lighting, authentic feel, [target emotion], editorial quality, aspirational but real\\n\\nPrompt 3 — Trend-Optimized:\\nTrending [current trending visual style] aesthetic, [product], [trending visual treatment], scroll-stopping composition, Instagram optimized, viral potential, [brand personality]\\n\\nReturn only valid JSON:\\n{\\n  \\\"prompts\\\": [\\n    { \\\"type\\\": \\\"studio\\\", \\\"prompt\\\": \\\"full prompt text\\\", \\\"negative_prompt\\\": \\\"what to avoid\\\" },\\n    { \\\"type\\\": \\\"lifestyle\\\", \\\"prompt\\\": \\\"full prompt text\\\", \\\"negative_prompt\\\": \\\"what to avoid\\\" },\\n    { \\\"type\\\": \\\"trend\\\", \\\"prompt\\\": \\\"full prompt text\\\", \\\"negative_prompt\\\": \\\"what to avoid\\\" }\\n  ]\\n}\"\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf51-prompt-gen",
      "name": "Claude Image Prompt Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2160, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '';\nlet c = {};\ntry { c = JSON.parse(raw); }\ncatch(e) { const m = raw.match(/{[\\s\\S]*}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n\nconst ctx = $('Loop Each Image').first().json;\nconst prompts = c.prompts || [];\n\nreturn [{ json: {\n  ...ctx,\n  image_prompts: prompts\n} }];"
      },
      "id": "wf51-parse-prompts",
      "name": "Parse Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst prompts = ctx.image_prompts || [];\nconst results = [];\n\nfor (const p of prompts) {\n  results.push({\n    json: {\n      business_id: ctx.business_id,\n      user_id: ctx.user_id,\n      plan: ctx.plan,\n      image_index: ctx.image_index,\n      prompt_type: p.type,\n      prompt: p.prompt,\n      negative_prompt: p.negative_prompt || '',\n      current_image_url: ctx.current_image_url,\n      brand_personality: ctx.brand_personality,\n      visual_style: ctx.visual_style,\n      target_emotion: ctx.target_emotion,\n      industry: ctx.industry,\n      business_name: ctx.business_name,\n      brand_tone: ctx.brand_tone,\n      target_audience: ctx.target_audience,\n      timezone: ctx.timezone,\n      content_pillars: ctx.content_pillars,\n      trending_formats: ctx.trending_formats,\n      recommended_mix: ctx.recommended_mix\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "wf51-split-prompts",
      "name": "Split Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"action\": \"generate_image\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"negative_prompt\": \"{{ $json.negative_prompt }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "wf51-generate-image",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2880, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const genResult = $input.first().json;\nconst promptCtx = $('Split Prompts').first().json;\n\nreturn [{ json: {\n  ...promptCtx,\n  generated_url: genResult.image_url || genResult.file_url || '',\n  generation_success: !!genResult.success,\n  model_used: genResult.model_used || 'unknown'\n} }];"
      },
      "id": "wf51-collect-image",
      "name": "Collect Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"action\": \"score_content\",\n  \"content\": {\n    \"image_url\": \"{{ $json.generated_url }}\",\n    \"prompt_type\": \"{{ $json.prompt_type }}\",\n    \"brand_personality\": \"{{ $json.brand_personality }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "wf51-score-image",
      "name": "Score Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3360, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const scoreResult = $input.first().json;\nconst ctx = $('Collect Image Result').first().json;\n\nconst score = scoreResult.total_score || scoreResult.score || 0;\nconst breakdown = scoreResult.breakdown || {};\nconst approved = score >= 7;\n\nreturn [{ json: {\n  ...ctx,\n  content_score: score,\n  score_breakdown: breakdown,\n  content_approved: approved\n} }];"
      },
      "id": "wf51-parse-image-score",
      "name": "Parse Image Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.content_approved }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf51-if-image-approved",
      "name": "IF Image Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3840, 400]
    },
    {
      "parameters": {
        "jsCode": "// Collect approved image and loop back\nconst item = $('IF Image Approved').first().json;\nreturn [{ json: item }];"
      },
      "id": "wf51-approved-image",
      "name": "Approved Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4080, 280]
    },
    {
      "parameters": {
        "jsCode": "// Image not approved — log and continue\nconst item = $('IF Image Approved').first().json;\nconsole.error(`[WF51] Image score ${item.content_score}/10 for prompt type ${item.prompt_type} — below threshold`);\nreturn [{ json: { ...item, status: 'below_threshold' } }];"
      },
      "id": "wf51-rejected-image",
      "name": "Rejected Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4080, 520]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.plan }}",
              "operation": "notEquals",
              "value2": "starter"
            }
          ]
        }
      },
      "id": "wf51-if-video-plan",
      "name": "IF Growth or Agency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4380, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"action\": \"generate_video_kling\",\n  \"image_url\": \"{{ $json.generated_url }}\",\n  \"prompt\": \"Smooth cinematic product showcase of {{ $json.brand_personality }} brand. Professional lighting, slow reveal, aspirational feel. 5 second clip.\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "wf51-generate-kling",
      "name": "Generate Kling Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4660, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.plan }}",
              "operation": "equals",
              "value2": "agency"
            }
          ]
        }
      },
      "id": "wf51-if-agency",
      "name": "IF Agency Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4920, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"action\": \"generate_video_sora\",\n  \"image_url\": \"{{ $json.generated_url }}\",\n  \"prompt\": \"Premium hero advertisement. Cinematic 4K product reveal for {{ $json.brand_personality }} brand. Hollywood-grade lighting, dramatic music timing, emotional storytelling. 15 second hero ad.\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "wf51-generate-sora",
      "name": "Generate Sora Hero Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [5200, 60],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Approved Image').first().json;\nconst klingResult = $('Generate Kling Video').first().json || {};\nconst soraResult = (() => { try { return $('Generate Sora Hero Ad').first().json || {}; } catch { return {}; } })();\n\nreturn [{ json: {\n  ...ctx,\n  kling_video_url: klingResult.video_url || klingResult.file_url || '',\n  kling_success: !!klingResult.success,\n  sora_video_url: soraResult.video_url || soraResult.file_url || '',\n  sora_success: !!soraResult.success\n} }];"
      },
      "id": "wf51-collect-videos",
      "name": "Collect Video Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5460, 280]
    },
    {
      "parameters": {
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 3000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a social media copywriting expert.\\n\\nBrand: {{ $json.business_name }}\\nBrand personality: {{ $json.brand_personality }}\\nVisual style: {{ $json.visual_style }}\\nTarget emotion: {{ $json.target_emotion }}\\nTarget audience: {{ $json.target_audience }}\\nIndustry: {{ $json.industry }}\\nContent pillars: {{ ($json.content_pillars || []).join(', ') }}\\nPlan: {{ $json.plan }}\\n\\nImage URL: {{ $json.generated_url }}\\nImage prompt type: {{ $json.prompt_type }}\\n\\nGenerate platform-specific captions for this content.\\n\\nInstagram caption:\\n- Line 1: scroll-stopping hook (question or bold statement)\\n- Lines 2-4: story connecting product to audience desire\\n- Line 5: clear CTA (link in bio / shop now / comment below)\\n- 15-20 hashtags: 5 mega (1M+), 5 mid (100K-1M), 5 niche (<100K), 5 branded\\n\\nTikTok caption:\\n- 1-2 punchy lines maximum\\n- 5 currently trending hashtags\\n- Hook designed for first 0.3 seconds of scroll\\n\\nFacebook caption:\\n- 4-6 lines telling a story\\n- Soft CTA (learn more / tell us below)\\n- No hashtags\\n\\n{{ $json.plan === 'agency' ? 'LinkedIn caption:\\n- Professional insight connecting product to business value\\n- 3-5 lines with data or insight\\n- Thought leadership angle\\n- 3-5 professional hashtags' : '' }}\\n\\nReturn only valid JSON:\\n{\\n  \\\"instagram\\\": { \\\"caption\\\": \\\"full caption\\\", \\\"hashtags\\\": [\\\"tag1\\\", \\\"tag2\\\"] },\\n  \\\"tiktok\\\": { \\\"caption\\\": \\\"full caption\\\", \\\"hashtags\\\": [\\\"tag1\\\", \\\"tag2\\\"] },\\n  \\\"facebook\\\": { \\\"caption\\\": \\\"full caption\\\" }{{ $json.plan === 'agency' ? ',\\n  \\\"linkedin\\\": { \\\"caption\\\": \\\"full caption\\\", \\\"hashtags\\\": [\\\"tag1\\\", \\\"tag2\\\"] }' : '' }}\\n}\"\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf51-caption-gen",
      "name": "Claude Caption Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [5700, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '';\nlet c = {};\ntry { c = JSON.parse(raw); }\ncatch(e) { const m = raw.match(/{[\\s\\S]*}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n\nconst ctx = $('Collect Video Results').first().json;\n\nreturn [{ json: {\n  ...ctx,\n  captions: c\n} }];"
      },
      "id": "wf51-parse-captions",
      "name": "Parse Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5940, 280]
    },
    {
      "parameters": {
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 3000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a social media scheduling expert.\\n\\nIndustry: {{ $json.industry }}\\nTimezone: {{ $json.timezone }}\\nPlan: {{ $json.plan }}\\nContent types available: image{{ $json.kling_video_url ? ', kling video' : '' }}{{ $json.sora_video_url ? ', sora hero ad' : '' }}\\nPlatforms: instagram, tiktok, facebook{{ $json.plan === 'agency' ? ', linkedin' : '' }}\\n\\nCreate a 30-day posting schedule. Rules:\\n- Max 1 post per day per platform\\n- Video posts perform best Tue-Thu 6-8pm\\n- Image posts perform best Mon-Fri 11am-1pm and 7-9pm\\n- Weekend posts: lifestyle content only, 10am-12pm\\n- Vary content types across the month\\n- Front-load highest scoring content in week 1\\n\\nReturn only valid JSON:\\n{\\n  \\\"schedule\\\": [\\n    {\\n      \\\"day\\\": 1,\\n      \\\"date\\\": \\\"2026-04-12\\\",\\n      \\\"platform\\\": \\\"instagram\\\",\\n      \\\"content_type\\\": \\\"image\\\",\\n      \\\"time\\\": \\\"12:00\\\",\\n      \\\"prompt_type\\\": \\\"studio\\\"\\n    }\\n  ],\\n  \\\"total_posts\\\": number,\\n  \\\"platform_breakdown\\\": { \\\"instagram\\\": number, \\\"tiktok\\\": number, \\\"facebook\\\": number }\\n}\"\n  }]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf51-schedule-builder",
      "name": "Smart Schedule Builder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [6180, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content?.[0]?.text || '';\nlet c = {};\ntry { c = JSON.parse(raw); }\ncatch(e) { const m = raw.match(/{[\\s\\S]*}/); if(m) try { c = JSON.parse(m[0]); } catch(e2) {} }\n\nconst ctx = $('Parse Captions').first().json;\n\nreturn [{ json: {\n  ...ctx,\n  posting_schedule: c.schedule || [],\n  total_posts: c.total_posts || 0,\n  platform_breakdown: c.platform_breakdown || {}\n} }];"
      },
      "id": "wf51-parse-schedule",
      "name": "Parse Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6420, 280]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst schedule = ctx.posting_schedule || [];\nconst platforms = ['instagram', 'tiktok', 'facebook'];\nif (ctx.plan === 'agency') platforms.push('linkedin');\n\n// Build content library rows\nconst rows = [];\nfor (const entry of schedule.slice(0, 60)) {\n  const platform = entry.platform || 'instagram';\n  const captions = ctx.captions || {};\n  const platCaptions = captions[platform] || {};\n  \n  rows.push({\n    user_id: ctx.user_id,\n    business_id: ctx.business_id,\n    content_type: entry.content_type || 'image',\n    file_url: entry.content_type === 'sora_ad' ? ctx.sora_video_url\n      : entry.content_type === 'kling_video' ? ctx.kling_video_url\n      : ctx.generated_url,\n    caption: platCaptions.caption || '',\n    hashtags: (platCaptions.hashtags || []).join(' '),\n    platform,\n    content_score: ctx.content_score || 0,\n    score_breakdown: JSON.stringify(ctx.score_breakdown || {}),\n    status: 'scheduled',\n    scheduled_at: entry.date + 'T' + (entry.time || '12:00') + ':00Z',\n    prompt_type: entry.prompt_type || ctx.prompt_type || 'studio'\n  });\n}\n\nreturn [{ json: { ...ctx, content_rows: rows, content_count: rows.length } }];"
      },
      "id": "wf51-build-rows",
      "name": "Build Content Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6660, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zqhyrbttuqkvmdewiytf.supabase.co/rest/v1/generated_content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.content_rows) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "wf51-save-content",
      "name": "Save to Content Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [6900, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maroa-api-production.up.railway.app/webhook/whatsapp-send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_id\": \"{{ $json.business_id }}\",\n  \"message\": \"Your content is ready!\\nGenerated: {{ $json.content_count }} pieces\\nImages: {{ $json.generated_url ? '1' : '0' }}{{ $json.kling_video_url ? ', Kling video: 1' : '' }}{{ $json.sora_video_url ? ', Sora hero ad: 1' : '' }}\\nQuality score: {{ $json.content_score }}/10\\nScheduled for next 30 days\\nLogin to preview: https://maroa.ai/dashboard\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf51-notify-whatsapp",
      "name": "Send WhatsApp Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [7140, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst schedule = ctx.posting_schedule || [];\nconst preview = schedule.slice(0, 7);\n\nreturn [{ json: {\n  success: true,\n  content_created: ctx.content_count || 0,\n  average_score: ctx.content_score || 0,\n  images_generated: ctx.generated_url ? 1 : 0,\n  kling_videos: ctx.kling_video_url ? 1 : 0,\n  sora_ads: ctx.sora_video_url ? 1 : 0,\n  schedule_preview: preview,\n  total_scheduled: schedule.length,\n  platform_breakdown: ctx.platform_breakdown || {}\n} }];"
      },
      "id": "wf51-build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7380, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "wf51-respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [7620, 280]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [
          { "node": "Fetch Brand DNA", "type": "main", "index": 0 },
          { "node": "Fetch Marketing Trends", "type": "main", "index": 0 },
          { "node": "Fetch Instagram Trends", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Brand DNA": {
      "main": [
        [{ "node": "Merge All Context", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Marketing Trends": {
      "main": [
        [{ "node": "Merge All Context", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Instagram Trends": {
      "main": [
        [{ "node": "Merge All Context", "type": "main", "index": 0 }]
      ]
    },
    "Merge All Context": {
      "main": [
        [{ "node": "Claude Brand Analyzer", "type": "main", "index": 0 }]
      ]
    },
    "Claude Brand Analyzer": {
      "main": [
        [{ "node": "Parse Strategy", "type": "main", "index": 0 }]
      ]
    },
    "Parse Strategy": {
      "main": [
        [{ "node": "Split By Product Image", "type": "main", "index": 0 }]
      ]
    },
    "Split By Product Image": {
      "main": [
        [{ "node": "Loop Each Image", "type": "main", "index": 0 }]
      ]
    },
    "Loop Each Image": {
      "main": [
        [{ "node": "Claude Image Prompt Generator", "type": "main", "index": 0 }],
        []
      ]
    },
    "Claude Image Prompt Generator": {
      "main": [
        [{ "node": "Parse Prompts", "type": "main", "index": 0 }]
      ]
    },
    "Parse Prompts": {
      "main": [
        [{ "node": "Split Prompts", "type": "main", "index": 0 }]
      ]
    },
    "Split Prompts": {
      "main": [
        [{ "node": "Generate Image", "type": "main", "index": 0 }]
      ]
    },
    "Generate Image": {
      "main": [
        [{ "node": "Collect Image Result", "type": "main", "index": 0 }]
      ]
    },
    "Collect Image Result": {
      "main": [
        [{ "node": "Score Image", "type": "main", "index": 0 }]
      ]
    },
    "Score Image": {
      "main": [
        [{ "node": "Parse Image Score", "type": "main", "index": 0 }]
      ]
    },
    "Parse Image Score": {
      "main": [
        [{ "node": "IF Image Approved", "type": "main", "index": 0 }]
      ]
    },
    "IF Image Approved": {
      "main": [
        [{ "node": "Approved Image", "type": "main", "index": 0 }],
        [{ "node": "Rejected Image", "type": "main", "index": 0 }]
      ]
    },
    "Approved Image": {
      "main": [
        [{ "node": "IF Growth or Agency", "type": "main", "index": 0 }]
      ]
    },
    "Rejected Image": {
      "main": [
        [{ "node": "Loop Each Image", "type": "main", "index": 0 }]
      ]
    },
    "IF Growth or Agency": {
      "main": [
        [{ "node": "Generate Kling Video", "type": "main", "index": 0 }],
        [{ "node": "Collect Video Results", "type": "main", "index": 0 }]
      ]
    },
    "Generate Kling Video": {
      "main": [
        [{ "node": "IF Agency Only", "type": "main", "index": 0 }]
      ]
    },
    "IF Agency Only": {
      "main": [
        [{ "node": "Generate Sora Hero Ad", "type": "main", "index": 0 }],
        [{ "node": "Collect Video Results", "type": "main", "index": 0 }]
      ]
    },
    "Generate Sora Hero Ad": {
      "main": [
        [{ "node": "Collect Video Results", "type": "main", "index": 0 }]
      ]
    },
    "Collect Video Results": {
      "main": [
        [{ "node": "Claude Caption Generator", "type": "main", "index": 0 }]
      ]
    },
    "Claude Caption Generator": {
      "main": [
        [{ "node": "Parse Captions", "type": "main", "index": 0 }]
      ]
    },
    "Parse Captions": {
      "main": [
        [{ "node": "Smart Schedule Builder", "type": "main", "index": 0 }]
      ]
    },
    "Smart Schedule Builder": {
      "main": [
        [{ "node": "Parse Schedule", "type": "main", "index": 0 }]
      ]
    },
    "Parse Schedule": {
      "main": [
        [{ "node": "Build Content Rows", "type": "main", "index": 0 }]
      ]
    },
    "Build Content Rows": {
      "main": [
        [{ "node": "Save to Content Library", "type": "main", "index": 0 }]
      ]
    },
    "Save to Content Library": {
      "main": [
        [{ "node": "Send WhatsApp Notification", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Notification": {
      "main": [
        [{ "node": "Build Response", "type": "main", "index": 0 }]
      ]
    },
    "Build Response": {
      "main": [
        [{ "node": "Respond Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf51-v1",
  "tags": [
    { "name": "content-pipeline" },
    { "name": "product-photos" },
    { "name": "generation" }
  ]
}
